openapi: 3.0.0
info:
  title: Custom Data APIs
  description: This section contains API's for the Custom Fund Data.
  version: 1.0.0
servers:
  - url: https://api.fefundinfo.com/customdata/1.0.0
    description: Production
security:
  - Production: []
paths:
  /additionalinstruments:
    get:
      tags:
        - Custom Data
      summary: List of Additional instruments
      description: |
        Returns the list of additional instruments
      operationId: customdata-additionalinstruments
      parameters:
        - name: x-correlation-id
          in: header
          description: client correlation id to track the requests.
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: isincodes
          in: query
          description: One or more isin(s) to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: clientid
          in: query
          description: Client Id to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: List of Additional Instruments.
          headers:
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalInstrumentResponse'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this input.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Development:
            - additional-instruments-read
        - Sandbox:
            - additional-instruments-read
        - Production:
            - additional-instruments-read
  /riskdata:
    get:
      tags:
        - Custom Data
      summary: Ratios information for given isin and currency
      description: |
        Returns ratios information for given isin and currency
      operationId: customdata-riskdata
      parameters:
        - name: x-correlation-id
          in: header
          description: client correlation id to track the requests.
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: isincodes
          in: query
          description: One or more isin(s) to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: clientid
          in: query
          description: Client Id to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: currency
          in: query
          description: currency code
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Risk data for given isin and currency.
          headers:
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskDataResponse'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this input.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Development:
            - riskdata-read
        - Sandbox:
            - riskdata-read
        - Production:
            - riskdata-read
  /discreteperformance:
    get:
      tags:
        - Custom Data
      summary: >-
        Discrete performance and Rank data for the given instrument codes and
        specific currency
      description: >
        Returns discrete performance and Rank data available for the given
        instrument codes and for the specific currency
      operationId: customdata-discreteperformance
      parameters:
        - name: x-correlation-id
          in: header
          description: client correlation id to track the requests.
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: instrumentcodes
          in: query
          description: >-
            The value can be set of ISINs and other codes like SectorCode,
            BenchmarkCode.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: clientid
          in: query
          description: Client Id to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: currency
          in: query
          description: currency code
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Discrete performance and Rank data for given instrument code and
            currency.
          headers:
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscretePerformanceResponse'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this input.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Development:
            - discreteperformance-read
        - Sandbox:
            - discreteperformance-read
        - Production:
            - discreteperformance-read
  /calendarperformance:
    get:
      tags:
        - Custom Data
      summary: >-
        Calendar performance data for the given instrument codes and specific
        currency
      description: >
        Returns calendar performance data available for given instrument code
        and specific currency
      operationId: customdata-calendarperformance
      parameters:
        - name: x-correlation-id
          in: header
          description: client correlation id to track the requests.
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: instrumentcodes
          in: query
          description: >-
            The value can be set of ISINs and other codes like SectorCode,
            BenchmarkCode.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: clientid
          in: query
          description: Client Id to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: currency
          in: query
          description: currency code
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: region
          in: query
          description: region code
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Calendar performance data for given instrument code, currency and
            region.
          headers:
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarPerformanceResponse'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this input.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Development:
            - calendarperformance-read
        - Sandbox:
            - calendarperformance-read
        - Production:
            - calendarperformance-read
  /cumulativeperformanceandrank:
    get:
      tags:
        - Custom Data
      summary: >-
        Cumulative performance and Rank data for the given instrument codes and
        currency
      description: >
        Cumulative performance data available for the given instrument codes for
        the specific currency
      operationId: customdata-cumulativeperformanceandrank
      parameters:
        - name: x-correlation-id
          in: header
          description: client correlation id to track the requests.
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: instrumentcodes
          in: query
          description: >-
            The value can be set of ISINs and other codes like SectorCode,
            BenchmarkCode.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: clientid
          in: query
          description: Client Id to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: currency
          in: query
          description: currency code
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Cumulative performance data for given instrument code, currency.
          headers:
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CumulativePerformanceResponse'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this input.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Development:
            - cumulativeperformanceandrank-read
        - Sandbox:
            - cumulativeperformanceandrank-read
        - Production:
            - cumulativeperformanceandrank-read
  /v1/cumulativeperformanceandrank:
    get:
      tags:
        - Custom Data
      summary: >-
        V1 Cumulative performance and Rank data for the given instrument codes
        and currency
      description: >
        V1 Cumulative performance data available for the given instrument codes
        for the specific currency
      operationId: customdata-v1-cumulativeperformanceandrank
      parameters:
        - name: x-correlation-id
          in: header
          description: client correlation id to track the requests.
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: instrumentcodes
          in: query
          description: >-
            The value can be set of ISINs and other codes like SectorCode,
            BenchmarkCode.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: clientid
          in: query
          description: Client Id to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: currency
          in: query
          description: currency code
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: V1 Cumulative performance data for given instrument code, currency.
          headers:
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1CumulativePerformanceResponse'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this input.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Development:
            - cumulativeperformanceandrank-read
        - Sandbox:
            - cumulativeperformanceandrank-read
        - Production:
            - cumulativeperformanceandrank-read
  /ChartData:
    get:
      tags:
        - Custom Data
      summary: >-
        Performance chart data for Fund, Sector and Benchmark in a specified
        currency and a specified time period
      description: >
        Returns performance chart data for Fund, Sector and Benchmark in a
        specified currency and a specified time period.
      operationId: customdata-chartdata
      parameters:
        - name: x-correlation-id
          in: header
          description: client correlation id to track the requests.
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: driverinstrument
          in: query
          description: ISIN value
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: additionalinstrument
          in: query
          description: The value can be set of codes like Isin, SectorCode, BenchmarkCode.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: clientid
          in: query
          description: Client Id to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: currency
          in: query
          description: currency code
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: period
          in: query
          description: time period
          required: true
          style: form
          explode: true
          schema:
            type: integer
            enum:
              - 3
              - 6
              - 12
              - 24
              - 36
              - 48
              - 60
        - name: fundtype
          in: query
          description: fundtype value can be set to either Primary or Non-Primary
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Performance chart data for given driver instrument and additional
            instrument codes, currency and period.
          headers:
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartDataResponse'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this input.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Development:
            - chartdata-read
        - Sandbox:
            - chartdata-read
        - Production:
            - chartdata-read
  /SinceLaunch:
    get:
      tags:
        - Custom Data
      summary: >-
        SinceLaunch performance and Rank data for the given share classes and
        other instruments for a specific currency.
      description: >
        Returns SinceLaunch performance and Rank data for the given share
        classes and other instruments for a specific currency..
      operationId: customdata-sinceLaunchData
      parameters:
        - name: x-correlation-id
          in: header
          description: client correlation id to track the requests.
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: IsinCodes
          in: query
          description: List of ISIN values
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: AT0000831409,AT0000831410
        - name: InstrumentCodes
          in: query
          description: >-
            The value can be set of ISINs and other codes like SectorCode,
            BenchmarkCode.
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: AT0000831409,00831410
        - name: clientid
          in: query
          description: Client Id to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: currency
          in: query
          description: currency code
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: GBP
      responses:
        '200':
          description: >-
            SinceLaunch performance and Rank data for the given share classes
            and other instruments for a specific currency.
          headers:
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinceLaunchDataResponse'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this input.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Development:
            - since-launch-read
        - Sandbox:
            - since-launch-read
        - Production:
            - since-launch-read
  /v1/SinceLaunch:
    get:
      tags:
        - Custom Data
      summary: >-
        V1 SinceLaunch performance and Rank data for the given share classes and
        other instruments for a specific currency.
      description: >
        Returns V1 SinceLaunch performance and Rank data for the given share
        classes and other instruments for a specific currency..
      operationId: customdata-v1-sinceLaunchData
      parameters:
        - name: x-correlation-id
          in: header
          description: client correlation id to track the requests.
          required: false
          style: simple
          explode: false
          schema:
            type: string
        - name: IsinCodes
          in: query
          description: List of ISIN values
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: AT0000831409,AT0000831410
        - name: InstrumentCodes
          in: query
          description: >-
            The value can be set of ISINs and other codes like SectorCode,
            BenchmarkCode.
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: AT0000831409,00831410
        - name: clientid
          in: query
          description: Client Id to fetch the data.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: currency
          in: query
          description: currency code
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: GBP
      responses:
        '200':
          description: >-
            V1 SinceLaunch performance and Rank data for the given share classes
            and other instruments for a specific currency.
          headers:
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinceLaunchV1DataResponse'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this input.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Development:
            - since-launch-read
        - Sandbox:
            - since-launch-read
        - Production:
            - since-launch-read
components:
  schemas:
    AdditionalInstrumentResponse:
      type: object
      properties:
        Request:
          $ref: '#/components/schemas/AdditionalInstrumentResponse_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/AdditionalInstrument'
      allOf:
        - $ref: '#/components/schemas/CommonResponseProperties'
    AdditionalInstrument:
      type: object
      properties:
        ClientId:
          type: string
        IsinCode:
          type: string
          example: US0378331005
        ShareClassName:
          type: string
          example: Class A
        FundType:
          type: string
          example: Non Primary
        BenchmarkCode:
          type: string
          example: S&P500
        BenchmarkName:
          type: string
          example: Standard & Poor's 500
        SectorCode:
          type: string
          example: FIN
        SectorName:
          type: string
          example: Financials
        CashPlusBenchmarkCode:
          type: string
        CashPlusBenchmarkName:
          type: string
        Currency:
          type: string
          example: USD
        LaunchDate:
          type: string
          format: date-time
          example: 2024-02-23T00:00:00.000Z
        IsHedgeFund:
          type: boolean
          example: true
    RiskDataResponse:
      type: object
      properties:
        Request:
          $ref: '#/components/schemas/RiskDataResponse_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/RiskData'
      allOf:
        - $ref: '#/components/schemas/CommonResponseProperties'
    RiskData:
      type: object
      properties:
        ClientId:
          type: string
        IsinCode:
          type: string
          example: US0378331005
        Currency:
          type: string
          example: USD
        AsAtDate:
          type: string
          format: date-time
          example: 2024-02-23T00:00:00.000Z
        JensenAlpha:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: 0.052123
        Beta:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: 1.034567
        Correlation:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: 0.955678
        InfoRatio:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: 0.324567
        Sharpe:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: 1.456789
        TrackingError:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: 0.234567
        RSquared:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: 0.987654
        AnnualisedStandardDeviation:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: 0.145678
        MaximumDrawdown:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: -0.123456
        VaRNormal95Percentage:
          pattern: ^\d{1,13}(\.\d{1,6})?$
          type: number
          format: double
          example: 0.056789
    DiscretePerformanceResponse:
      type: object
      properties:
        Request:
          $ref: '#/components/schemas/DiscretePerformanceResponse_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/DiscretePerformance'
      allOf:
        - $ref: '#/components/schemas/CommonResponseProperties'
    DiscretePerformance:
      type: object
      properties:
        ClientId:
          type: string
          nullable: false
        InstrumentCode:
          type: string
          nullable: false
          example: US0378331005
        Currency:
          type: string
          nullable: true
          example: USD
        AsAtDate:
          type: string
          format: date-time
          nullable: false
          example: 2024-02-23T00:00:00.000Z
        P0t12m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        P12t24m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        P24t36m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        P36t48m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        P48t60m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
    CalendarPerformanceResponse:
      type: object
      properties:
        Request:
          $ref: '#/components/schemas/CalendarPerformanceResponse_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/CalendarPerformance'
      allOf:
        - $ref: '#/components/schemas/CommonResponseProperties'
    CalendarPerformance:
      type: object
      properties:
        ClientId:
          type: string
          nullable: false
        InstrumentCode:
          type: string
          nullable: false
          example: US0378331005
        Currency:
          type: string
          nullable: true
          example: USD
        AsAtDate:
          type: string
          format: date-time
          nullable: false
          example: 2024-02-23T00:00:00.000Z
        Region:
          type: string
          example: UK
          default: ''
        YP1:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        YP2:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        YP3:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        YP4:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        YP5:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        YP6:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        YP7:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        YP8:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        YP9:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        YP10:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
    CumulativePerformanceResponse:
      type: object
      properties:
        Request:
          $ref: '#/components/schemas/DiscretePerformanceResponse_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/CumulativePerformance'
      allOf:
        - $ref: '#/components/schemas/CommonResponseProperties'
    CumulativePerformance:
      type: object
      properties:
        ClientId:
          type: string
          nullable: false
        InstrumentCode:
          type: string
          nullable: false
          example: US0378331005
        Currency:
          type: string
          nullable: true
          example: USD
        AsAtDate:
          type: string
          format: date-time
          nullable: false
          example: 2024-02-23T00:00:00.000Z
        P1m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        T1m:
          type: integer
          nullable: true
          example: 1
        P3m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        T3m:
          type: integer
          nullable: true
          example: 1
        Pytd:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Tytd:
          type: integer
          nullable: true
          example: 1
        Pa12m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta12m:
          type: integer
          nullable: true
          example: 1
        Qa12m:
          type: integer
          nullable: true
          example: 1
        Pa24m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta24m:
          type: integer
          nullable: true
          example: 1
        Qa24m:
          type: integer
          nullable: true
          example: 1
        Pa36m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta36m:
          type: integer
          nullable: true
          example: 1
        Qa36m:
          type: integer
          nullable: true
          example: 1
        Pa60m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta60m:
          type: integer
          nullable: true
          example: 1
        Qa60m:
          type: integer
          nullable: true
          example: 1
        Pa120m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta120m:
          type: integer
          nullable: true
          example: 1
        Qa120m:
          type: integer
          nullable: true
          example: 1
        PSinceLaunch:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        TSinceLaunch:
          type: integer
          nullable: true
          example: 1
        QSinceLaunch:
          type: integer
          nullable: true
          example: 1
        PaSinceLaunch:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        TaSinceLaunch:
          type: integer
          nullable: true
          example: 1
        QaSinceLaunch:
          type: integer
          nullable: true
          example: 1
    V1CumulativePerformanceResponse:
      type: object
      properties:
        Request:
          $ref: '#/components/schemas/DiscretePerformanceResponse_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/V1CumulativePerformance'
      allOf:
        - $ref: '#/components/schemas/CommonResponseProperties'
    V1CumulativePerformance:
      type: object
      properties:
        ClientId:
          type: string
          nullable: false
        InstrumentCode:
          type: string
          nullable: false
          example: US0378331005
        Currency:
          type: string
          nullable: true
          example: USD
        AsAtDate:
          type: string
          format: date-time
          nullable: false
          example: 2024-02-23T00:00:00.000Z
        P1m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        T1m:
          type: integer
          nullable: true
          example: 1
        P3m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        T3m:
          type: integer
          nullable: true
          example: 1
        Pytd:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Tytd:
          type: integer
          nullable: true
          example: 1
        Pa12m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta12m:
          type: integer
          nullable: true
          example: 1
        Qa12m:
          type: integer
          nullable: true
          example: 1
        Pa24m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta24m:
          type: integer
          nullable: true
          example: 1
        Qa24m:
          type: integer
          nullable: true
          example: 1
        Pa36m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta36m:
          type: integer
          nullable: true
          example: 1
        Qa36m:
          type: integer
          nullable: true
          example: 1
        Pa60m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta60m:
          type: integer
          nullable: true
          example: 1
        Qa60m:
          type: integer
          nullable: true
          example: 1
        Pa120m:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        Ta120m:
          type: integer
          nullable: true
          example: 1
        Qa120m:
          type: integer
          nullable: true
          example: 1
        PSinceLaunch:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        TSinceLaunch:
          type: integer
          nullable: true
          example: 1
        QSinceLaunch:
          type: integer
          nullable: true
          example: 1
        PaSinceLaunch:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        TaSinceLaunch:
          type: integer
          nullable: true
          example: 1
        QaSinceLaunch:
          type: integer
          nullable: true
          example: 1
        PerfSeriesType:
          type: string
          example: DFT
    ChartDataResponse:
      type: object
      properties:
        Request:
          $ref: '#/components/schemas/ChartDataResponse_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/ChartData'
      allOf:
        - $ref: '#/components/schemas/CommonResponseProperties'
    ChartData:
      type: object
      properties:
        ClientId:
          type: string
          nullable: false
        InstrumentCode:
          type: string
          nullable: false
          example: US0378331005
        Currency:
          type: string
          nullable: true
          example: USD
        AsAtDate:
          type: string
          format: date-time
          nullable: false
          example: 2024-02-23T00:00:00.000Z
        StartDate:
          type: string
          format: date-time
          nullable: false
          example: 2024-02-23T00:00:00.000Z
        EndDate:
          type: string
          format: date-time
          nullable: false
          example: 2024-02-23T00:00:00.000Z
        Period:
          type: number
          format: int32
          nullable: false
          example: 3
    SinceLaunchDataResponse:
      type: object
      properties:
        Request:
          $ref: '#/components/schemas/SinceLaunchDataResponse_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/SinceLaunchData'
      allOf:
        - $ref: '#/components/schemas/CommonResponseProperties'
    SinceLaunchData:
      type: object
      properties:
        ClientId:
          type: string
          nullable: false
        IsinCode:
          type: string
          example: US0378331005
        InstrumentCode:
          type: string
          nullable: false
          example: US0378331005
        Currency:
          type: string
          nullable: true
          example: USD
        PSinceLaunch:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        TSinceLaunch:
          type: integer
          nullable: true
          example: 1
        QSinceLaunch:
          type: integer
          nullable: true
          example: 1
        PaSinceLaunch:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        TaSinceLaunch:
          type: integer
          nullable: true
          example: 1
        QaSinceLaunch:
          type: integer
          nullable: true
          example: 1
    SinceLaunchV1DataResponse:
      type: object
      properties:
        Request:
          $ref: '#/components/schemas/SinceLaunchDataResponse_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/SinceLaunchV1Data'
      allOf:
        - $ref: '#/components/schemas/CommonResponseProperties'
    SinceLaunchV1Data:
      type: object
      properties:
        ClientId:
          type: string
          nullable: false
        IsinCode:
          type: string
          example: US0378331005
        InstrumentCode:
          type: string
          nullable: false
          example: US0378331005
        Currency:
          type: string
          nullable: true
          example: USD
        PSinceLaunch:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        TSinceLaunch:
          type: integer
          nullable: true
          example: 1
        QSinceLaunch:
          type: integer
          nullable: true
          example: 1
        PaSinceLaunch:
          pattern: ^\d{1,13}(\.\d{1,8})?$
          type: number
          format: double
          nullable: true
          example: 0.12323456
        TaSinceLaunch:
          type: integer
          nullable: true
          example: 1
        QaSinceLaunch:
          type: integer
          nullable: true
          example: 1
        PerfSeriesType:
          type: string
          example: DFT
    CommonResponseProperties:
      type: object
      properties:
        Message:
          type: string
          description: response message
        IsSuccess:
          type: boolean
          description: based on the response value will be set
    ErrorResponse:
      type: object
      properties:
        Message:
          type: string
          description: response message
        IsSuccess:
          type: boolean
          description: based on the response value will be set.
          example: false
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/ErrorItem'
    ErrorItem:
      type: object
    inline_response_401:
      anyOf:
        - $ref: '#/components/schemas/ErrorResponse'
    AdditionalInstrumentResponse_Request:
      type: object
      properties:
        isincodes:
          type: string
        clientid:
          type: string
    RiskDataResponse_Request:
      type: object
      properties:
        isincodes:
          type: string
        clientid:
          type: string
        currency:
          type: string
    DiscretePerformanceResponse_Request:
      type: object
      properties:
        instrumentcodes:
          type: string
        clientid:
          type: string
        currency:
          type: string
    CalendarPerformanceResponse_Request:
      type: object
      properties:
        instrumentcodes:
          type: string
        clientid:
          type: string
        currency:
          type: string
        region:
          type: string
    ChartDataResponse_Request:
      type: object
      properties:
        driverinstrument:
          type: string
        additionalinstrument:
          type: string
        clientid:
          type: string
        currency:
          type: string
        period:
          type: integer
        fundtype:
          type: string
    SinceLaunchDataResponse_Request:
      type: object
      properties:
        IsinCodes:
          type: string
        InstrumentCodes:
          type: string
        clientid:
          type: string
        currency:
          type: string
  responses:
    '400':
      description: Bad request, Please check your inputs.
      content: {}
    '401':
      description: Unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_401'
    '404':
      description: No data for this input.
      content: {}
    '408':
      description: Your request has timed out. Please try again.
      content: {}
    '500':
      description: >-
        Internal Server error, please raise a ticket with the FEFundinfo support
        team if you experience this.
      content: {}
  headers:
    x-correlation-id:
      description: >-
        x-correlation-id is used to trace the log. Client can provided this ID.
        API will set unique guid if it is not provided in request.
      style: simple
      explode: false
      schema:
        type: string
    x-request-id:
      description: x-request-id is a unique id to track the request.
      style: simple
      explode: false
      schema:
        type: string
  securitySchemes:
    Production:
      type: oauth2
      description: >-
        Using Enterprise Auth to get an OAuth2 token for a registered app as a
        client.
      flows:
        clientCredentials:
          tokenUrl: https://auth.fefundinfo.com/connect/token
          scopes:
            additional-instruments-read: Additional Instruments Read Access
            riskdata-read: Risk Data Read Access
            discreteperformance-read: Discrete performance read access
            calendarperformance-read: Calendar performance read access
            cumulativeperformanceandrank-read: Cumulative performance and rank read access
            chartdata-read: Chart performance data read access
            since-launch-read: Since launch data read access
