openapi: 3.0.0
info:
  title: Public Fund Data APIs - Static Data - Key Facts API
  description: >-
    Quickly access essential information about funds, company, share classes and
    umbrella  with our Key Facts API
  version: 1.0.0
servers:
  - url: https://api.fefundinfo.com/funds/StaticKeyFacts/1.0.0
    description: Production
security:
  - Production: []
paths:
  /Listing:
    get:
      tags:
        - Static Data - Key Facts
      summary: Static listing related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes and isin.
      operationId: FundListingData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get Listing Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingData'
        '206':
          description: Get Listing Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingData'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
    post:
      tags:
        - Static Data - Key Facts
      summary: Listing Data
      description: >
        Use this end point to fetch Data related to Listing based on the
        identifierType like citicodes and isin.
      operationId: Post_FundListingData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostListingRequestBody'
        required: true
      responses:
        '200':
          description: Get Listing Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingData'
        '206':
          description: Get Listing Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingData'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
  /Classification:
    get:
      tags:
        - Static Data - Key Facts
      summary: Static Classification related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes and isin.
      operationId: GetFundClassificationData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get static classification data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationData'
        '206':
          description: Get static classification data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationData'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
    post:
      tags:
        - Static Data - Key Facts
      summary: Classification Data
      description: >
        Use this end point to fetch Data related to Classification based on the
        identifierType like citicodes and isin.
      operationId: Post_FundClassificationData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostClassificationRequestBody'
        required: true
      responses:
        '200':
          description: Get Classification Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationData'
        '206':
          description: Get Classification Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationData'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
  /FundInformation:
    get:
      tags:
        - Static Data - Key Facts
      summary: Fund information data
      description: >
        Use this end point to fetch fund information data based on the
        identifierType like citicodes and isin.
      operationId: GetFundInformationData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: language
          in: query
          description: >-
            Provide any one of the following allowed languages, de, en, es, fr,
            it, bg, da, el, hu, is, ja, nl, no, pl, pt, ro, ru, sv, zh-Hans,
            zh-Hant. Default language is en, if none of the languages are
            provided.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get fund information data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundInformationData'
        '206':
          description: Get fund information data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundInformationData'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
    post:
      tags:
        - Static Data - Key Facts
      summary: FundInformation Data
      description: >
        Use this end point to fetch Data related to FundInformation based on the
        identifierType like citicodes and isin.
      operationId: Post_FundInformationData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFundInformationRequestBody'
        required: true
      responses:
        '200':
          description: Get fund information data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundInformationData'
        '206':
          description: Get fund information data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundInformationData'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
  /Company:
    get:
      tags:
        - Static Data - Key Facts
      summary: Company data
      description: >
        Use this end point to fetch company data based on the identifierType
        like citicodes and isin.
      operationId: GetCompanyData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get company data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyData'
        '206':
          description: Get company data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyData'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
    post:
      tags:
        - Static Data - Key Facts
      summary: Company Data
      description: >
        Use this end point to fetch Data related to Company based on the
        identifierType like citicodes and isin.
      operationId: Post_FundCompanyData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyRequestBody'
        required: true
      responses:
        '200':
          description: Get company data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyData'
        '206':
          description: Get company data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyData'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
  /Umbrella:
    get:
      tags:
        - Static Data - Key Facts
      summary: Umbrella data
      description: >
        Use this end point to fetch data related to Umbrella based on the
        identifierType like citicodes and isin.
      operationId: GetUmbrellaData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get Umbrella Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        '206':
          description: Get Umbrella Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
    post:
      tags:
        - Static Data - Key Facts
      summary: Umbrella Data
      description: >
        Use this end point to fetch Data related to umbrella based on the
        identifierType like fundcodes.
      operationId: Post_FundUmbrellaData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUmbrellaRequestBody'
        required: true
      responses:
        '200':
          description: Get Umbrella Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        '206':
          description: Get Umbrella Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
  /ShareClass:
    get:
      tags:
        - Static Data - Key Facts
      summary: Share class data
      description: >
        Use this end point to fetch data related to share class based on the
        identifierType like citicodes and isin.
      operationId: GetShareClassData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get share class Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        '206':
          description: Get share class Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
    post:
      tags:
        - Static Data - Key Facts
      summary: Share class Data
      description: >
        Use this end point to fetch Data related to share class based on the
        identifierType like fundcodes.
      operationId: Post_ShareClassData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostShareClassRequestBody'
        required: true
      responses:
        '200':
          description: Get share class Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        '206':
          description: Get share class Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
        - Sandbox:
            - static-key-facts-read
        - Development:
            - static-key-facts-read
  /SDR:
    get:
      tags:
        - Static Data - Key Facts
      summary: SDR data
      description: >
        Use this end point to fetch data related to SDR based on the
        identifierType like citicodes and isin.
      operationId: GetSDRData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get SDR Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        '206':
          description: Get SDR Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
            - sdr-read
        - Sandbox:
            - static-key-facts-read
            - sdr-read
        - Development:
            - static-key-facts-read
            - sdr-read
    post:
      tags:
        - Static Data - Key Facts
      summary: SDR Data
      description: >
        Use this end point to fetch Data related to SDR based on the
        identifierType like fundcodes.
      operationId: Post_SDRData
      parameters:
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostShareClassRequestBody'
        required: true
      responses:
        '200':
          description: Get SDR Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        '206':
          description: Get SDR Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-key-facts-read
            - sdr-read
        - Sandbox:
            - static-key-facts-read
            - sdr-read
        - Development:
            - static-key-facts-read
            - sdr-read
components:
  schemas:
    ListingData:
      type: object
      properties:
        Message:
          type: string
          description: response message
        IsSuccess:
          type: boolean
          description: based on the response value will be set.
        Request:
          $ref: '#/components/schemas/ListingData_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/ListingDataItem'
    ListingDataItem:
      type: object
      properties:
        CitiCode:
          type: string
          description: >-
            FE fundinfo unit identifier, called Citi Code. The field is allowed
            to be up to 15 characters in length, but all current codes used are
            4-5 characters long.
        Isin:
          type: string
          description: >-
            International Securities Identification Number (ISIN) of the share
            class (e.g. LU0000000000). Please take good care, that an ISIN may
            include only upper case letters.
        Apir:
          type: string
        OFST900171:
          type: string
          description: >-
            FE fundinfo identifier for fund. The field is allowed to be up to 15
            characters in length, but all current codes used are 5-6 characters
            long.
        OFST062025:
          type: number
          description: >-
            The launch price is the purchase price at which an investor who has
            subscribed to fund units during the subscription period acquires the
            subscribed fund unit. This price may differ from the first NAV. If
            this field is populated, please also indicate the currency in
            "OFST062026 Launch Price Currency" and the date in "OFST062027
            Launch Price Date".
          format: double
        OFST062026:
          type: string
          description: >-
            The currency of the launch price populated in "OFST062025 Launch
            Price".
        OFST062027:
          type: string
          description: The date of the launch price populated in "OFST062025 Launch Price".
          format: dateTime
        OFST062050:
          type: boolean
          description: >-
            Is this listing the primary listing of this ISIN? The prices of this
            listing are used to calculate Premium/Discount. This field is only
            available for ETFs.
        OFST060000:
          type: string
          description: >-
            Bloomberg code of ETF listed at respective stock exchange, including
            country or stock exchange abbreviation (e.g. LX for Luxembourg).
        OFST060010:
          type: string
          description: >-
            Reuters code (RIC) of ETF listed at respective stock exchange,
            including abbreviation (e.g. .PA for Euronext Paris).
        OFST060050:
          type: string
          description: Bloomberg code for the intraday NAV at this exchange place.
        OFST060060:
          type: string
          description: Reuters code for the intraday NAV at this exchange place.
        OFST062000:
          type: string
          description: Date of first listing at the respective stock exchange.
          format: dateTime
        OFST062010:
          type: string
          description: >-
            Currency in which ETF is listed at the respective stock exchange
            (use ISO code 4217, e.g. EUR).
        OFST062020:
          type: number
          description: Price at first listing at this exchange place (only digits).
          format: double
        OFST062030:
          type: string
          description: >-
            The Market Identifier Code (MIC) is a unique identification code
            used to identify securities trading exchanges, regulated and
            non-regulated trading markets. The MIC is a four alpha character
            code and is defined in ISO 10383 by International Organization for
            Standardization (ISO). The MIC is updated by ISO regularly and can
            be downloaded from https://www.iso10383.org
              ETF share classes may have several listings while having only one ISIN, i.e. there is an 1:n elation between share class and exchange places. 
              Notice: Please use "MIC" and not "Operating MIC".
        OFST062040:
          type: string
          description: >-
            Stock exchange where ETF is listed. Please note, that an ETF share
            class may have several listings while having only one ISIN, i.e.
            there is an 1:n relation between share class and exchange places.
            //Notice: Please use "OFST062030 Market Identifier Code" instead. If
            you are using both fields, make sure that this field contains
            "Name-Institution Description" that corresponds with OFST062030
            Market Identifier Code as it is defined in
            http://www.iso15022.org/MIC/homepageMIC.htm/
        OFST062045:
          type: string
          description: >-
            Determines the actual status of a share class's listing. For an
            existing listing of a share class the default value is "active".
        OFST900221:
          type: string
        OFST900223:
          type: string
    ClassificationData:
      type: object
      properties:
        Message:
          type: string
          description: response message
        IsSuccess:
          type: boolean
          description: based on the response value will be set.
        Request:
          $ref: '#/components/schemas/ListingData_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/ClassificationDataItem'
    ClassificationDataItem:
      type: object
      properties:
        CitiCode:
          type: string
          description: >-
            FE fundinfo unit identifier, called Citi Code. The field is allowed
            to be up to 15 characters in length, but all current codes used are
            4-5 characters long.
        Isin:
          type: string
          description: >-
            International Securities Identification Number (ISIN) of the share
            class (e.g. LU0000000000). Please take good care, that an ISIN may
            include only upper case letters.
        Apir:
          type: string
        OFST900171:
          type: string
          description: >-
            FE fundinfo identifier for fund. The field is allowed to be up to 15
            characters in length, but all current codes used are 5-6 characters
            long.
        OFST350000:
          type: string
          description: >-
            MIFID securities classification. According to Art. 25 (4)(a) of the
            MiFID II Directive 2014/65/EU from 15/05/14 or according to PRIIPs
            RTS Article 8(3)(b) of PRIIPs regulation (EU) No 1286/2014 :
               1) Non-complex products are:
               - Shares admitted to trading on a regulated market
               - Bonds or other forms of securitised debt admitted to trading on a regulated market
               - Money-market instruments
               - Shares or units in UCITS
               - Structured deposits
               2) Complex products are:
               - Shares in non-UCITS collective investment undertakings and shares that embed a derivative
               - Bonds that embed a derivative or incorporate a structure which makes it difficult for the client to understand the risk involved
               - Money-market instruments that embed a derivative or incorporate a structure which makes it difficult for the client to understand the risk involved
                - Structured UCITS as referred to in the second subparagraph of Article 36(1) of Regulation (EU) No 583/2010;
                - Structured deposits that incorporate a structure which makes it difficult for the client to understand the risk of return or the cost of exiting the product before term.
        OFST350009:
          type: boolean
          description: >-
            Is the fund sharia compliant and in accordance with the principles
            of the Muslim religion?
        OFST350100:
          type: string
          description: >-
            Main Categories of the European Fund Classification as outlined in
            the paper "The European Fund Classification - EFC Categories, 2nd
            edition, June 2020, page 8". A detailed description can be
            downloaded from the "Related publication" link on the EFAMA webpage
            (https://www.efama.org/SitePages/EFCF.aspx) or directly via this
            document link:
            https://www.fundconnect.com/Solutions/Assets/EFC%20Categories%20Report.pdf.
        OFST350102:
          type: string
          description: >-
            The EFAMA classification operates with two different status levels,
            Verified Classification based on quarterly holdings and an
            Indicative Classification, based on publicly available information.
            Both the Indicative and Verified Classification are managed by the
            Classification Administrator. Further information can be downloaded
            from http://www.efama.org/SitePages/EFCF.aspx
        OFST350110:
          type: string
          description: >-
            The six EFAMA Main EFC Categories OFST350100 are segmented according
            to 9 additional criteria: country/region, sector, market
            capitalisation, currency exposure, credit quality, interest rate
            exposure, emerging market exposure, asset allocation and structural
            characteristics resulting in over 350 categories. The holdings-based
            categorisation is performed free-of-charge by FundConnect on behalf
            of EFAMA. Fund distributors and data providers are advised to
            download the EFAMA Active EFC Classification directly from the EFAMA
            website to ensure that the share classes are categorised properly.
            Asset managers should not do an autonomous classification. A list of
            categorised funds and share classes can be downloaded from
            http://www.efama.org/SitePages/EFCF.aspx menu items "Download
            Classification Results" or "Download Classification Summary".
        OFST351295:
          type: boolean
          description: Is the fund a money market fund?
        OFST351300:
          type: string
          description: >-
            According to the article 3 of the regulation (EU) 2017/ 1131 of the
            European parliament and of the council of 14 June 2017 on money
            market funds (MMFs), MMFs shall be set up as one of the following
            types: (a) Variable net asset value MMF (VNAV MMF) - VNAV funds may
            be categorised as either "Short-term MMF" or "Standard MMF". (b)
            Public debt constant net asset value MMF (CNAV MMF) (c) Low
            volatility net asset value MMF (LVNAV MMF) The following definition
            specifies the types in more detail: - VNAV MMF: Variable Net Asset
            Value (VNAV) funds are MMFs in which investors purchase or redeem
            units in the fund at a variable net asset value, calculated to 4
            decimal places. VNAV funds may be categorised as either Short Term
            or Standard MMFs. - CNAV MMF: The CNAV MMF invests at least 99.5 %
            of its assets in government securities and have a constant NAV.
            Shares in the fund are subscribed or redeemed at a constant price
            rounded to the nearest percentage point. - LVNAV MMF: Shares in the
            fund are subscribed or redeemed at a constant price, including that
            the NAV of the fund does not deviate by more than 20 basis points.
            For further information please consider the regulation (EU) 2017/
            1131 of the European parliament and of the council of 14 June 2017
            at https://eur-lex.europa.eu/eli/reg/2017/1131/oj which is available
            in different languages. If none of the above mentioned values apply,
            the field should be left blank.
        OFST350115:
          type: string
          description: >-
            Investment Theme is used to classify equity funds investing a large
            part of their assets in companies belonging to a specific investment
            theme. Unlike for the three other classification criteria, the
            investment theme of a fund cannot be verified from the fund
            holdings. It is included in the classification results on the basis
            of a declaration of the fund group concerned. A fund group can
            declare whether a fund invests according to a specific investment
            theme. This investment theme may then be included into the
            classification as a flag. Investment themes are flagged alongside
            the verified EFC categories. A verified sector or regional equity
            fund can thus also have a specified investment theme.
              The number of specific investment themes included into the EFC structure will be updated whenever deemed necessary. The most current list of Investment Themes is available at https://www.efama.org/SitePages/EFCF.aspx.
        OFST350015:
          type: string
          description: >-
            The ISO 10962 code, generally known as CFI (Classification of
            Financial Instruments) is a six-letter-code used in the financial
            services industry to classify and describe the structure and
            function of a financial instrument (in the form of security or
            contract). It is an international standard approved by the
            International Organization for Standardization (ISO). Since 1 July
            2017, each financial instrument should receive a CFI at the same
            time it is allocated an ISIN (International Security Identification
            Number) by the respective National Numbering Agency (NNA).
                The first character indicates the highest level of category of the Security
                The second character refers to the groups within each category
                The next four characters refer to four attributes, that varies between groups
                The letter X always means Not Applicable/Undefined
        OFST350220:
          type: string
          description: >-
            Information on how the fund takes sustainability into account, as
            stated in the fund prospectus. This is a requirment for sales in
            German markets. This information must be given in German, to a
            maximum of 3500 characters. This information is expected for
            delivery to recipients in the German market, such as Dericon.
    FundInformationData:
      type: object
      properties:
        Message:
          type: string
          description: response message
        IsSuccess:
          type: boolean
          description: based on the response value will be set.
        Request:
          $ref: '#/components/schemas/FundInformationData_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/FundInformationDataItem'
    FundInformationDataItem:
      type: object
      properties:
        CitiCode:
          type: string
          description: >-
            FE fundinfo identifier for fund. The field is allowed to be up to 15
            characters in length, but all current codes used are 5-6 characters
            long.
        Isin:
          type: string
          description: >-
            International Securities Identification Number (ISIN) of the share
            class (e.g. LU0000000000). Please take good care, that an ISIN may
            include only upper case letters.
        Apir:
          type: string
        OFST900171:
          type: string
          description: >-
            FE fundinfo unit identifier, called Citi Code. The field is allowed
            to be up to 15 characters in length, but all current codes used are
            4-5 characters long.
        OFST010010:
          type: string
          description: >-
            Domicile of the fund. Please use ISO 3166-1-alpha-2 code (i.e. SE
            for Sweden).
        OFST010030:
          type: string
          description: >-
            The Legal Entity Identifier (LEI) for a fund, where this is
            applicable, i.e. for a FCP. The Legal Entity Identifier (LEI) code
            is designed to create a global reference data system that uniquely
            identifies every legal entity or structure, in any jurisdiction,
            that is part of a financial transaction. The 20 digit alpha numeric
            code is constructed as follows: Local Operating Unit (4 characters)
            - Reserved characters (2) - Entity Identifier (12) - Verification ID
            (2).
        OFST010035:
          type: string
          description: >-
            The Legal Entity Identifier (LEI) for an Umbrella (OFST010035) where
            this is applicable. If it is not applicable, please leave this field
            empty and only populate the field "OFST010030 LEI Of Fund" instead.
            However, is the LEI Of Umbrella applicable, please fill in this
            field and LEI Of Fund (OFST010030) as well. The Legal Entity
            Identifier (LEI) code is designed to create a global reference data
            system that uniquely identifies every legal entity or structure, in
            any jurisdiction, that is part of a financial transaction. The 20
            digit alpha numeric code is constructed as follows: Local Operating
            Unit (4 characters) - Reserved characters (2) - Entity Identifier
            (12) - Verification ID (2).
        OFST010050:
          type: string
          description: >-
            Is the form of share bearer or registered? There is a shareholder
            register for registered shares, which is not the case for bearer
            shares. The investors are listed in the shareholder register. If the
            form of share is "bearer", please indicate in field "OFST010055
            Location Of Bearer Share" the according location. In case the form
            share is "registered", please populate in field "OFST010056 Location
            Of Share Register" the according location.
        OFST010055:
          type: string
          description: >-
            If the value of field "OFST010050 Form Of Share" is "bearer", please
            indicate the global certificate's location for the bearer shares in
            this field. This location is as defined in the prospectus. It should
            usually mention the company name and the address, where available.
        OFST010056:
          type: string
          description: >-
            If the value of field "OFST010050 Form Of Share" is "registered",
            please indicate where the share register is located, i.e. the
            company and its address that takes care of the register as mentioned
            in the prospectus.
        OFST010085:
          type: string
          description: >-
            A code issued by the Dirección General de Seguros y Fondos de
            Pensiones (DGSFP) to identify Spanish pension securities. This data
            is only applicable to funds domiciled in Spain.
        OFST010110:
          type: string
          description: >-
            Name of fund or sub-fund, as listed in prospectus. Neither an
            available umbrella, nor the specifications of the share class such
            as currency, distribution policy etc. must be included. In case the
            fund is not part of an umbrella structure, please maintain the
            indication of the fund name as listed in the prospectus. In case the
            umbrella name is part of the sub-fund name in official legal
            documents such as prospectus, openfunds recommends listing the
            unique sub-fund name only, without repeating the umbrella name. The
            intention of the OFST010110 Legal Fund Name Only is to provide an
            option for generating the OFST010020 Legal Fund Name Including
            Umbrella by combining OFST010110 Legal Fund Name Only and OFST005010
            Umbrella. This field's OF-ID can also include a language tag, i.e.
            OFST010110(zh-Hant) for Legal Fund Name Only written in traditional
            Chinese. For more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST010205:
          type: string
          description: >-
            Is it very likely, that there is a duration hedge implemented within
            this share class?
        OFST010220:
          type: string
          description: >-
            If the prospectus allows the usage of derivatives for Efficient
            Portfolio Management, it will not be classified as a derivative
            product, i.e. it has no embedded derivatives. "Yes" means that the
            fund might be classified as a derivative product and therefore might
            be classified as riskier. Efficient Portfolio Management includes:
            1) Hedging purposes 2) Cash Management 3) Providing access to
            restricted markets Any usage of derivatives outside of the Efficient
            Portfolio Management definition above will cause the fund to be
            considered as a derivative product. More information can be found in
            the Consultation Paper on Proposed Amendments to the Code on Unit
            Trusts and Mutual Funds:
            https://www.sfc.hk/edistributionWeb/gateway/EN/consultation/product-authorization/openFile?refNo=17CP8
            https://www.sfc.hk/edistributionWeb/gateway/EN/circular/openFile?refNo=H683
        OFST010240:
          type: string
          description: >-
            Date of launch of the fund, i.e. its first share class. This field
            represents the age of the fund even if the eldest share class is
            dormant or liquidated. Therefore, it may happen, that there is no
            correspondent OFST020560 Share Class Launch Date.
        OFST010250:
          type: string
          description: >-
            The valuation time at which the NAV of the fund is calculated.
            Please also indicate the Time Zone in the field "OFST010251 Fund
            Valuation Point Time Zone".
        OFST010251:
          type: string
          description: >-
            Relevant time zone for "OFST010250 Fund Valuation Point". Helpful
            links can be found at: -
            https://en.wikipedia.org/wiki/List_of_time_zones_by_country -
            https://en.wikipedia.org/wiki/Coordinated_Universal_Time -
            https://www.timeanddate.com/time/zones -
            https://en.wikipedia.org/wiki/Daylight_saving_time -
            https://en.wikipedia.org/wiki/Tz_database Commonly used standard
            time formats are: - EST Eastern Time Zone (USA); UTC-05:00 - CST
            Central Time Zone (USA); UTC-06:00 - PST Pacific Time Zone (USA);
            UTC-07:00 - CET Central European Time; UTC+01:00 - HKT Hong Kong
            Time; UTC+08:00 - SST Singapore Standard Time; UTC+08:00 Please
            note, that mentioning the abbreviation of a standard time zone is an
            approximation as there are many countries that know daylight saving
            time. In this case openfunds would assume only mentioning one
            abbreviation, e.g. CET for Central European Time, despite between
            March and October it should be CEST for Central European Summer
            Time. Additionally, openfunds recommends not to use this field for
            automatic implementation, as there are quite some identical
            abbreviations for different time zones, e.g. ADT stands for Arabia
            Daylight Time (UTC+3:00) or Atlantic Daylight Time (UTC-3:00). For
            automatic information exchange please refer to "OFST010252 Fund
            Valuation Point Time Zone Using TZ Database".
        OFST010252:
          type: string
          description: >-
            The tz database, also called Olson database or IANA time zone
            database, is a public domain database including information about
            the world's time zones. It uses a naming convention that focuses on
            cities instead of countries, e.g. America/New_York,
            America/Indiana/Indianapolis, Asia/Kolkata or Europe/Paris. Further
            information can be found on
            https://en.wikipedia.org/wiki/Tz_database#Definition_of_a_time_zone.
            For technical implementation http://www.joda.org/joda-time/ (Java)
            or http://nodatime.org/ (.NET) could be good starting points. A list
            of tz database time zones can be found here:
            https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
        OFST010230:
          type: string
          description: >-
            Are the fund's asset managed along one or more hedge fund
            strategies? In the following are some examples of common hedge fund
            strategies: 'Long/Short Equity' ; 'Fixed Income Arbitrage' ;
            'Convertible Arbitrage' ; 'Relative Value Arbitrage' ; 'Merger
            Arbitrage' ; 'Event Driven' ; 'Global Macro' ; 'Distressed'
        OFST010011:
          type: string
          description: >-
            Domicile of the fund. Please use ISO 3166-1-alpha-3 code (i.e. SWE
            for Sweden). Please note: openfunds recommends using "OFST010010
            Fund Domicile Alpha-2" instead as this seems to be used more often
            compared to alpha-3 country codes.
        OFST010015:
          type: string
          description: >-
            The domicile of the deposit of the fund. Issuance country for funds
            held in register. Please use ISO 3166-1-alpha-2 code (i.e. SE for
            Sweden). This field can have multiple values, which should be given
            separated by a pipe "|" (ASCII 124) symbol.
        OFST010300:
          type: string
          description: >-
            Description of the investment objective. This field's OF-ID can also
            include a language tag, i.e. OFST010300(zh-Hant) for Investment
            Objective written in traditional Chinese. For more information
            please refer to https://www.openfunds.org/en/language-tags.
        OFST010300de:
          type: string
        OFST010300en:
          type: string
        OFST010300es:
          type: string
        OFST010300fr:
          type: string
        OFST010300it:
          type: string
        OFST010300bg:
          type: string
        OFST010300da:
          type: string
        OFST010300el:
          type: string
        OFST010300hu:
          type: string
        OFST010300is:
          type: string
        OFST010300ja:
          type: string
        OFST010300nl:
          type: string
        OFST010300no:
          type: string
        OFST010300pl:
          type: string
        OFST010300pt:
          type: string
        OFST010300ro:
          type: string
        OFST010300ru:
          type: string
        OFST010300sv:
          type: string
        OFST010300zhHans:
          type: string
        OFST010300zhHant:
          type: string
        OFST010410:
          type: string
          description: >-
            Base currency of the fund. Please use ISO 4217 (e.g. EUR). The fund
            currency reflects the accounting currency for the fund and should
            not be mixed up with the Share Class Currency (OFST020540).
        OFST010420:
          type: string
          description: >-
            Is it possible to subscribe or redeem shares of the fund on a
            regular basis, i.e. daily? If yes, it is an open-ended fund. If no,
            it is a closed-ended fund.
        OFST010440:
          type: string
          description: Fiscal year end of fund.
        OFST010500:
          type: string
          description: >-
            Is the fund a fund of funds? A fund of funds can invest up to a
            maximum of 20% in a single target fund. They can also invest up to a
            maximum of 25% of the total assets of the target fund (i.e. if
            target fund has a NAV of €10m, then the market value of our holding
            cannot exceed €2.5m). This, 25% limit, is often refer to as “25%
            Ownership”.
        OFST010580:
          type: string
          description: >-
            Is the share class an Exchange Traded Fund (ETF)? This field is on
            share class level as there are funds having both  ETFs and non-ETFs
            as share classes.
        OFST010630:
          type: string
          description: >-
            Is it allowed to leverage the fund's asset in order to achieve
            accelerated returns? Please only answer with "yes", if the following
            two conditions are cumulatively true: - The allowed leverage should
            be above 10%. - Leverage is to be used as an active element for
            generating income in portfolio management. Please answer "no" if the
            leverage is less than 10%, only passively tolerated or mentioned in
            the prospectus for legal reasons.
        OFST010635:
          type: string
          description: >-
            If the value of field "OFST010630 Is Leveraged" is "yes", please
            specify what is the highest leverage for the fund. Otherwise, leave
            this field empty. This information can usually be found in the
            prospectus. This field can be used for the notional leverage of a
            fund.
        OFST010650:
          type: string
          description: >-
            Is the Fund a Real Estate Investment Trust (REIT)? A REIT is a
            company that owns or finances income-producing real estate. In order
            for a company to be qualified as a REIT, it must meet specific
            regulatory guidelines.
        OFST010660:
          type: string
          description: >-
            Is the investment vehicle an Exchange Traded Commodity (ETC)? In
            case the Value of this field is "yes" the corresponding answer for
            "OFST160039 Is EU Directive Relevant" is "no".
        OFST010670:
          type: string
          description: >-
            Does the fund invert the index performances? This field is mainly
            used for ETFs reversing the index performance, e.g., if the
            underlying index advances by 1% the short ETF declines by 1%.
        OFST010720:
          type: string
          description: Does the fund follow an index very closely?
        OFST010900:
          type: string
          description: >-
            Replication methodology for ETFs or passive funds. This field is
            linked to OFST010901 Replication Methodology Second Level, that
            specifies the details of this field. Please note, that one can use
            this field (OFST010900) without completing field OFST010901
            Replication Methodology Second Level, whereas this is not possible
            for the other way around.
        OFST010901:
          type: string
          description: >-
            Specification of replication methodology for ETFs or passive funds.
            This field is linked to OFST010900 Replication Methodology First
            Level. Please note, that one must not use this field (OFST010901)
            without completing field OFST010900 Replication Methodology First
            Level.
        OFST010640:
          type: string
          description: >-
            "130/30 Strategy" reflects a particular investment policy of a fund.
            The fund may be short of investments for up to 30% of the fund's
            assets. The yield realized from the short selling are reinvested in
            instruments from which a high return is expected. The fund can,
            therefore, be simultaneously 130% invested and 30% sold short.
        OFST011000:
          type: string
          description: Are fund holdings lent out to other parties?
        OFST011010:
          type: string
          description: >-
            Company names. Multiple securities lending counterparties are
            separated by pipe "|" (ASCII 124) as company names may contain
            commas.
        OFST011100:
          type: string
          description: Are fund holdings swapped to other parties?
        OFST011110:
          type: string
          description: >-
            Company names. Multiple swap counterparties are separated by pipe
            "|" (ASCII 124) as company names may contain commas.
        OFST011200:
          type: string
          description: >-
            Is the fund a UCITS with leveraged benchmark? Choose "yes" only if
            the value of "OFST160040 Type Of EU Directive" is "UCITS" AND fund
            has a leveraged benchmark. For all other cases choose "no".
        OFST011205:
          type: string
          description: >-
            Is the fund a UCITS with pay off linked to indices that do not
            comply with ESMA Guidelines referred to ETF? Choose "yes" only if
            the value of "OFST160040 Type Of EU Directive" is "UCITS". For all
            other cases choose "no". For more information please consider
            https://www.esma.europa.eu/system/files_force/library/2015/11/esma-2014-0011-01-00_en_0.pdf
        OFST011210:
          type: string
          description: >-
            Is the fund a structured UCITS according to Section 36 of EU
            Regulation 583/2010?  Choose "yes" only if the value of "OFST160040
            Type Of EU Directive" is "UCITS". For all other cases choose "no".
            For the purposes of this section, structured UCITS shall be
            understood as UCITS which provide investors, at certain
            predetermined dates, with algorithm-based payoffs that are linked to
            the performance, or to the realisation of price changes or other
            conditions, of financial assets, indices or reference portfolios or
            UCITS with similar features. For more information please consider
            https://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:176:0001:0015:en:PDF
            This field applies only if the value of "OFST160040 Type Of EU
            Directive" is "UCITS".
        OFST010211:
          type: string
          description: >-
            Indicates, if any, what kind of currency hedge is implemented within
            the portfolio. Please note, that there is a significant difference
            between "OFST020261 Share Class NAV Hedge", which relates to a
            specific share class's currency hedge on the NAV and this field,
            which relates to the underlying portfolio. Possible Values are: No:
            Currency exposure remains the same. Just calculation and accounting
            currency changes. Yes, full portfolio hedge: Full or near full
            hedging of non-Fund Currency positions within fund. Only use "full
            portfolio hedge", if portfolio's currency hedge is permanently 90%
            or more. Yes, partial hedge: Guidelines limit exposure to currencies
            other than the fund currency to 10%. Implementation can include
            tactical views of fund manager. Yes, currency overlay: Currency
            allocation is a separate process in the investment decision. It
            considers both active views and optimization aspects. Yes: The
            portfolio is hedged but the hedging methodology is variable or
            unknown. Further information can be found in the white paper
            "Hedging – including and after v1.27" at
            https://openfunds.org/hedging-v2/
        OFST900287:
          type: string
          description: Unique identification of the Fund in the Fundsquare database.
        OFST900230:
          type: string
          description: Determines the actual stage of the fund lifecycle.
        OFST900284:
          type: string
          description: The GPS (BNP code) at the sub-fund level.
        OFST900282:
          type: string
          description: The date on which the fund was first available.
        OFST010080:
          type: string
          description: >-
            Financial Services and Markets Authority (FSMA) Code at the fund
            level. The identification code for funds operating under the Belgian
            Financial Services and Markets Authority.
        OFST010075:
          type: string
          description: >-
            The CSSF Code is a unique identifier for a financial instrument,
            attributed by the Commision de Surveillance du Secteur Financier
            (CSSF) once the authorisation process is completed. The data in this
            field should be provided on the fund level according to openfunds
            definitions, which is referred to as "sub-fund" level in Luxembourg.
        OFST010070:
          type: string
          description: The Central Bank of Ireland code at the sub-fund level.
        OFST900281:
          type: string
          description: >-
            The central administration's code at the fund level. This is unique
            for each Central Administration entity, but the same code can occur
            for different Administrations. 
        OFST900285:
          type: string
          description: >-
            Identification category assigned by the Assogestioni Servizi Srl for
            reference purposes.
        OFST900286:
          type: string
          description: >-
            Identification sub-category assigned by the Assogestioni Servizi Srl
            for reference purposes.
        OFST700400:
          type: string
          description: >-
            The domicilary agent, as defined by https://guichet.public.lu, is a
            natural or legal person in Luxembourg, who provides services for the
            domiciled company. This field applies for funds domiciled in
            Luxembourg ("OFST010010  Fund Domicile Alpha-2" = "LU")
        OFST001540:
          type: string
          description: >-
            One or multipe entities being in charge to distribute the fund,
            acting as a third party compensated by fees or provisions. This
            field can have multiple values, which should be given separated by a
            pipe ""|"" (ASCII 124) symbol.
        OFST902333:
          type: string
        OFST902355:
          type: string
        OFST900253:
          type: string
          description: >-
            Is the fund compliant with ethical investing? Funds that invest in
            ethical investments and promote the wellbeing of the planet, such as
            funds that have an ethical criteria or strictly do not invest in
            harmful products such as tobacco or alcohol.
        OFST010060:
          type: string
          description: >-
            Supervisory authority for the domicile jurisdiction of the fund, as
            per the offical naming of the government body.
        OFST010730:
          type: string
          description: >-
            This indicates whether the fund is managed directly by the fund
            manager, "fundamental", or is managed without direct intervention by
            the fund manager on the basis of a quantitative model,
            "quantitative". This information is expected for delivery to
            recipients in the German market, such as Dericon.
        OFST010740:
          type: string
          description: >-
            Does the fund follow a thematic investment strategy, following a
            theme (e.g. dividends or globalisation) rather than a geographical
            or sector focus?
        OFST010750:
          type: string
          description: >-
            The neutral equity ratio (Aktien-Neutralquote in German) of the
            fund. e.g. 0.5 (meaning 50%) for a balanced multi-asset fund. This
            usually does not change over time unless the overall fund strategy
            is changed. This is only relevant to multi-asset products. This
            information is expected for delivery to recipients in the German
            market, such as Dericon.        
    CompanyData:
      type: object
      properties:
        Message:
          type: string
          description: response message
        IsSuccess:
          type: boolean
          description: based on the response value will be set.
        Request:
          $ref: '#/components/schemas/ListingData_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/CompanyDataItem'
    CompanyDataItem:
      type: object
      properties:
        CitiCode:
          type: string
          description: >-
            FE fundinfo unit identifier, called Citi Code. The field is allowed
            to be up to 15 characters in length, but all current codes used are
            4-5 characters long.
        Isin:
          type: string
          description: >-
            International Securities Identification Number (ISIN) of the share
            class (e.g. LU0000000000). Please take good care, that an ISIN may
            include only upper case letters.
        Apir:
          type: string
        OFST900171:
          type: string
          description: >-
            FE fundinfo identifier for fund. The field is allowed to be up to 15
            characters in length, but all current codes used are 5-6 characters
            long.
        OFST001000:
          type: string
          description: >-
            Overall brand name of the fund company. Not necessarily identical
            with the management company's (OFST001020 ManCo) name. For more
            information please refer to graph shown in description of field
            "OFST001020 ManCo". This field's OF-ID can also include a language
            tag, i.e. OFST001000(zh-Hant) for Fund Group Name written in
            traditional Chinese. For more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST001020:
          type: string
          description: >-
            The name of the legal entity that is in charge of managing the fund
            (this includes, in general, portfolio management, administration and
            distribution). A common fund (FCP) must be managed by a Management
            Company. For a self-managed SICAV it is the name of the SICAV
            itself. Other terms are "KVG", "Fondsleitung" or "Investment
            Company". This field's OF-ID can also include a language tag, i.e.
            OFST001020(zh-Hant) for ManCo written in traditional Chinese. For
            more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST001030:
          type: string
          description: >-
            The Legal Entity Identifier (LEI) for the company entity ("ManCo
            OFST001020"). The Legal Entity Identifier (LEI) code is designed to
            create a global reference data system that uniquely identifies every
            legal entity or structure, in any jurisdiction, that is part of a
            financial transaction. The 20 digit alpha numeric code is
            constructed as follows: Local Operating Unit (4 characters) -
            Reserved characters (2) - Entity Identifier (12) - Verification ID
            (2).
        OFST001035:
          type: string
          description: >-
            Domicile of the ManCo. Please use ISO 3166-1-alpha-2 code (i.e. SE
            for Sweden).
        OFST001040:
          type: string
          description: >-
            If there is no difference between ManCo (OFST001020), Legal Fund
            Name Including Umbrella (OFST010020) and Fund Domicile Alpha 2
            (OFST010010), please fill in "yes" in this field as it is a
            Self-Managed investment company otherwise populate "no".
        OFST001300:
          type: string
          description: >-
            Name of the fund administrator as mentioned in official documents
            (i.e. prospectus).
              This field's OF-ID can also include a language tag, i.e. OFST001300(zh-Hant) for Fund Administrator Name written in traditional Chinese. For more information please refer to https://www.openfunds.org/en/language-tags.
        OFST001400:
          type: string
          description: >-
            Name of custodian bank as listed in official documents (i.e.
            prospectus). This field's OF-ID can also include a language tag,
            i.e. OFST001400(zh-Hant) for Custodian Bank Name written in
            traditional Chinese. For more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST001410:
          type: string
          description: >-
            The Legal Entity Identifier (LEI) for the custodian bank entity
            ("Custodian Bank Name OFST001400"). The Legal Entity Identifier
            (LEI) code is designed to create a global reference data system that
            uniquely identifies every legal entity or structure, in any
            jurisdiction, that is part of a financial transaction. The 20 digit
            alpha numeric code is constructed as follows: Local Operating Unit
            (4 characters) - Reserved characters (2) - Entity Identifier (12) -
            Verification ID (2).
        OFST001415:
          type: string
          description: >-
            Domicile of the Custodian. Please use ISO 3166-1-alpha-2 code (i.e.
            SE for Sweden).
        OFST001420:
          type: string
          description: >-
            BIC (bank identifier code) for the custodian entity of the fund. ISO
            9362 defines a standard format of Bank Identifier Codes (also known
            as SWIFT-BIC, BIC, SWIFT ID or SWIFT code) approved by the
            International Organization for Standardization (ISO). It is a unique
            identification code for both financial and non-financial
            institutions. The acronym SWIFT stands for the Society for Worldwide
            Interbank Financial Telecommunication. The ISO has designated SWIFT
            as the BIC registration authority.
        OFST001430:
          type: string
          description: The name of the Trustee, if applicable.
        OFST001450:
          type: string
          description: >-
            Name of the Company that is making the main investment decisions and
            usually is triggering the trades. Other expressions: Lead Portfolio
            Manager, Management Company or Investment Advisor (also see
            OFST001500 Fund Advisor Name). This field can have multiple values,
            which should be given separated by a pipe "|" (ASCII 124) symbol.
            This field's OF-ID can also include a language tag, i.e.
            OFST001450(zh-Hant) for Portfolio Managing Company Name written in
            traditional Chinese. For more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST001500:
          type: string
          description: >-
            Name of the Company (or Companies) that support(s) the Portfolio
            Managing Company (OFST001450) by giving advice, if any. Please note,
            that no such advisor exists in most cases. Very seldom the advisor
            is the main investment decision taker. In this case "OFST001450
            Portfolio Managing Company Name" and this field should contain the
            same name. This field can have multiple values, which should be
            given separated by a pipe "|" (ASCII 124) symbol. This field's OF-ID
            can also include a language tag, i.e. OFST001500(zh-Hant) for Fund
            Advisor Name written in traditional Chinese. For more information
            please refer to https://www.openfunds.org/en/language-tags.
        OFST001520:
          type: string
          description: >-
            Name of the legal adviser as mentioned in official documents (i.e.
            prospectus).
        OFST001890:
          type: string
          description: Is there a collateral manager for this fund?
        OFST001900:
          type: string
          description: >-
            Name of the company who is managing the collateral of the Swap.
            Multiple collateral manager names are separated by pipe "|" (ASCII
            124) as company names may contain commas. This field's OF-ID can
            also include a language tag, i.e. OFST001900(zh-Hant) for Collateral
            Manager Name written in traditional Chinese. For more information
            please refer to https://www.openfunds.org/en/language-tags.
        OFST002700:
          type: string
          description: >-
            Name of the transfer agent. This field's OF-ID can also include a
            language tag, i.e. OFST002700(zh-Hant) for Transfer Agent Name
            written in traditional Chinese. For more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST002705:
          type: string
          description: >-
            BIC (bank identifier code) for the transfer agent entity of the
            fund.
              ISO 9362 defines a standard format of Bank Identifier Codes (also known as SWIFT-BIC, BIC, SWIFT ID or SWIFT code) approved by the International Organization for Standardization (ISO). It is a unique identification code for both financial and non-financial institutions.
              The acronym SWIFT stands for the Society for Worldwide Interbank Financial Telecommunication. The ISO has designated SWIFT as the BIC registration authority.
        OFST002710:
          type: string
          description: >-
            The domicile of the fund transfer agent. Please use ISO
            3166-1-alpha-2 code (i.e. SE for Sweden).
        OFST002000:
          type: string
          description: >-
            Company names performing market making at this stock exchange.
            Multiple market maker names are separated by pipe "|" (ASCII 124) as
            company names may contain commas. Please note that this field is
            only meaningful for ETFs. Therefore, leave empty for non ETFs. This
            field's OF-ID can also include a language tag, i.e.
            OFST002000(zh-Hant) for Market Maker Name written in traditional
            Chinese. For more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST002760:
          type: string
          description: >-
            The field Dissemination Recipient restricts dissemination of this
            specific share class to the mentioned recipients, separated by
            comma. The recipients are identified by an unique four digit
            alphanumeric code that is distributed by FE fundinfo. If you have a
            need for a recipient code, please send your request to
            customersupport@fefundinfo.com.
        OFST001510:
          type: string
          description: >-
            The name of the company that is supporting the fund advisor
            (OFST001500). A sub-advisor is an asset management company appointed
            by the investment advisor to assist in the management of investments
            within a portfolio. Sub-Investment Advisors are typically sought out
            for their expertise in managing a particular strategy.
        OFST001600:
          type: string
          description: >-
            The firm responsible for auditing the financial statements of the
            mutual fund company. This field's OF-ID can also include a language
            tag, i.e. OFST001600(zh-Hant) for Auditor Name written in
            traditional Chinese. For more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST001100:
          type: string
          description: >-
            Typically a specialized asset management company that uses one or
            more third party fund providers to set up their funds. Usually the
            fund promoter does the asset management and the promotion of the
            fund by itself. However, some fund management companies also have
            internal fund promoter entities. Please leave blank if there is no
            fund promoter. This field's OF-ID can also include a language tag,
            i.e. OFST001100(zh-Hant) for Fund Promotor Name written in
            traditional Chinese. For more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST001021:
          type: string
          description: >-
            Email address of the ManCo. This contact should be the entry point
            for communication with the ManCo either to provide oversight
            reporting or to retrieve details on how to provide the report.
        OFST001025:
          type: string
          description: >-
            Is the fund management company a signatory of the UN's Principles
            for Responsible Investment (PRI)? A list of all signatories can be
            found at
            https://www.unpri.org/signatories/signatory-resources/signatory-directory
        OFST001055:
          type: string
          description: >-
            Address of the Management Company in charge of managing a given fund
            if the last fund is not self-managed or internally managed by an
            investment company.
        OFST001060:
          type: string
          description: City of the Management Company.
        OFST001065:
          type: string
          description: Website (URL) of the Management Company.
        OFST001072:
          type: string
          description: >-
            The country code for the Management Company's contact telephone
            number. Must be the official code usually preceded by a "+" sign.
            The "+" sign should not be included in the value provided, this
            field only accepts integer values. A full list of country codes can
            be found in the link below: https://countrycode.org/
        OFST001075:
          type: string
          description: >-
            Phone number of the Management Company excluding the country code.
            Please ensure the country code is entered into field OFST001072.
        OFST001070:
          type: string
          description: ZIP Code of the Management Company.
        OFST001032:
          type: string
          description: BaFin-ID code of the Management Company.
        OFST002900:
          type: string
          description: >-
            Fund's Global Intermediary Identification Number (GIIN). If the
            legal entity (=fund) is a sponsored entity, please provide the
            sponsoring entity's GIIN number. The GIIN contains 19 characters
            including the three points. For more information please consider
            https://www.irs.gov/businesses/corporations/fatca-registration-and-ffi-list-giin-composition-information          
    UmbrellaData:
      type: object
      properties:
        Message:
          type: string
          description: response message
        IsSuccess:
          type: boolean
          description: based on the response value will be set.
        Request:
          $ref: '#/components/schemas/ListingData_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/UmbrellaDataItem'
    UmbrellaDataItem:
      type: object
      properties:
        CitiCode:
          type: string
          description: >-
            FE fundinfo unit identifier, called Citi Code. The field is allowed
            to be up to 15 characters in length, but all current codes used are
            4-5 characters long.
        Isin:
          type: string
          description: >-
            International Securities Identification Number (ISIN) of the share
            class (e.g. LU0000000000). Please take good care, that an ISIN may
            include only upper case letters.
        Apir:
          type: string
        OFST900171:
          type: string
          description: >-
            FE fundinfo identifier for fund. The field is allowed to be up to 15
            characters in length, but all current codes used are 5-6 characters
            long.
        OFST005000:
          type: string
          description: >-
            Indicates whether the fund is a standalone fund ("no") or has an
            Umbrella fund ("yes") containing sub funds. An umbrella fund is an
            investment fund that contains a number of sub-funds or compartments,
            each of which can have a different investment policy. The various
            sub-funds may invest in different assets or markets, be aimed at
            different types of investor such as individuals and institutions, or
            be priced in different currencies to suit investors from various
            parts of the world.
        OFST005010:
          type: string
          description: >-
            Name of the fund umbrella according to the Prospectus. In practice,
            one provider may be responsible for more than one fund umbrella
            structure. Leave the field blank in case the fund is a single fund
            structure. This field's OF-ID can also include a language tag, i.e.
            OFST005010(zh-Hant) for Umbrella Name written in traditional
            Chinese. For more information please refer to
            https://www.openfunds.org/en/language-tags.
        OFST005015:
          type: string
          description: >-
            Domicile of the Umbrella. Please use ISO 3166-1-alpha-2 code (i.e.
            SE for Sweden).
        OFST900294:
          type: string
          description: The GPS (BNP instrument code) on the fund level.
        OFST900295:
          type: string
          description: Unique identification of the Umbrella in the Fundsquare database.
        OFST900283:
          type: string
          description: >-
            The first date on which any fund or share class within the umbrella
            was available.
        OFST005035:
          type: string
          description: >-
            Financial Services and Markets Authority (FSMA) Code at the umbrella
            level. The identification code for umbrella funds operating under
            the Belgian Financial Services and Markets Authority.
        OFST005030:
          type: string
          description: >-
            The CSSF Code is a unique identifier for a financial instrument,
            attributed by the Commision de Surveillance du Secteur Financier
            (CSSF) once the authorisation process is completed. The data in this
            field should be provided on the fund umbrella level according to
            openfunds definitions, which is referred to as "fund" level in
            Luxembourg.
        OFST005025:
          type: string
          description: The Central Bank of Ireland code at the umbrella level.
        OFST005040:
          type: string
          description: >-
[...]
