openapi: 3.0.0
info:
  title: Public Fund Data APIs - Static Data
  description: >-
    Access details such as fund registration, purchase information and other
    data categorized as static by Openfunds.
  version: 1.0.0
servers:
  - url: https://api.fefundinfo.com/funds/Static/1.0.0
    description: Production
security:
  - Production: []
paths:
  /Fees:
    get:
      tags:
        - Static Data
      summary: Static fees related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: GetFundFeesData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get static fees data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        '206':
          description: Get static fees data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
    post:
      tags:
        - Static Data
      summary: Static fees related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: Post_FundFeesData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFeesRequestBody'
        required: true
      responses:
        '200':
          description: Get static fees data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        '206':
          description: Get static fees data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
  /CountrySpecificFields:
    get:
      tags:
        - Static Data
      summary: Static country specific fields data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: GetCountrySpecificFieldsData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get country specific fields data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        '206':
          description: Get country specific fields data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
    post:
      tags:
        - Static Data
      summary: Static country specific fields data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: Post_CountrySpecificFieldsData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCountrySpecificFieldsRequestBody'
        required: true
      responses:
        '200':
          description: Get country specific fields data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        '206':
          description: Get country specific fields. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
  /CountryRegistration:
    get:
      tags:
        - Static Data
      summary: Static country registration data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: GetCountryRegistrationData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: countries
          in: query
          description: Provide countries code. By default, all countries will be return.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get country registration data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        '206':
          description: Get country registration data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
    post:
      tags:
        - Static Data
      summary: Static country registration data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: Post_CountryRegistrationData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCountryRegistrationRequestBody'
        required: true
      responses:
        '200':
          description: Get country registration data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        '206':
          description: Get country registration data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
  /PortfolioManager:
    get:
      tags:
        - Static Data
      summary: Static Portfolio Manager related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: GetPortfolioManagerData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get static Portfolio Manager data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '206':
          description: Get static Portfolio Manager data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
    post:
      tags:
        - Static Data
      summary: Static Portfolio Manager related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: Post_PortfolioManagerData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioManagerRequestBody'
        required: true
      responses:
        '200':
          description: Get static Portfolio Manager data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '206':
          description: Get static Portfolio Manager data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
  /PurchaseInformation:
    get:
      tags:
        - Static Data
      summary: Static Purchase Information related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: GetPurchaseInformationData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get static Purchase Information data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        '206':
          description: Get static Purchase Information data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
    post:
      tags:
        - Static Data
      summary: Static Purchase Information related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: Post_PurchaseInformationData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchaseInformationRequestBody'
        required: true
      responses:
        '200':
          description: Get static Purchase Information data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        '206':
          description: Get static Purchase Information Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
  /Taxes:
    get:
      tags:
        - Static Data
      summary: Static Taxes related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: GetTaxesData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get static Taxes Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        '206':
          description: Get static Taxes data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
    post:
      tags:
        - Static Data
      summary: Static Taxes related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: Post_TaxesData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTaxesRequestBody'
        required: true
      responses:
        '200':
          description: Get static Taxes data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        '206':
          description: Get static Taxes Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
  /Solvency:
    get:
      tags:
        - Static Data
      summary: Static Solvency related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: GetSolvencyData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get static Solvency Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        '206':
          description: Get static Solvency data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
    post:
      tags:
        - Static Data
      summary: Static Solvency related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: Post_SolvencyData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSolvencyRequestBody'
        required: true
      responses:
        '200':
          description: Get static Solvency data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        '206':
          description: Get static Solvency Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
  /ExecutionData:
    get:
      tags:
        - Static Data
      summary: Static Execution related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: GetExecutionData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get static Execution Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        '206':
          description: Get static Execution data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
    post:
      tags:
        - Static Data
      summary: Static Execution related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: Post_ExecutionData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostExecutionRequestBody'
        required: true
      responses:
        '200':
          description: Get static Execution data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        '206':
          description: Get static Execution Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
  /SwissClimateScore:
    get:
      tags:
        - Static Data
      summary: Static Swiss Climate Score related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: GetSwissClimateScoreData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: identifierValue
          in: query
          description: Value for the identifier type. Provide maximum 10 values.
          required: true
          style: form
          explode: false
          schema:
            maxItems: 10
            minItems: 1
            uniqueItems: true
            type: array
            items:
              type: string
              default: ''
        - name: fieldSelections
          in: query
          description: Provide field names to filter in response.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              default: ''
        - name: identifierType
          in: query
          description: Currently supported identifierTypes are citicodes, isins and apirs.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Get static Swiss Climate Score Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        '206':
          description: Get static Swiss Climate Score data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
    post:
      tags:
        - Static Data
      summary: Static Swiss Climate Score related data
      description: >
        Use this end point to fetch static query data based on the
        identifierType like citicodes, isins and apirs.
      operationId: Post_SwissClimateScoreData
      parameters:
        - name: Fefi-Apim-Subscription-Key
          in: header
          description: Fefi APIM Subscription key
          required: true
          style: simple
          explode: false
          schema:
            type: string
            default: ''
        - name: x-correlation-id
          in: header
          description: >-
            x-correlation-id is used to trace the log. It is unique guid id. API
            will generate new id if it is not passed explicitly.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: ''
      requestBody:
        description: Provide inputs as JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSwissClimateScoreRequestBody'
        required: true
      responses:
        '200':
          description: Get static Swiss Climate Score data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        '206':
          description: Get static Swiss Climate Score Data. Partial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        '400':
          description: Bad request, Please check your inputs.
          content: {}
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        '404':
          description: No data for this identifierValue.
          content: {}
        '408':
          description: Your request has timed out. Please try again.
          content: {}
        '500':
          description: >-
            Internal Server error, please raise a ticket with the FEFundinfo
            support team if you experience this.
          content: {}
      security:
        - Production:
            - static-data-read
        - Sandbox:
            - static-data-read
        - Development:
            - static-data-read
components:
  schemas:
    FeesData:
      type: object
      properties:
        Message:
          type: string
          description: response message
        IsSuccess:
          type: boolean
          description: based on the response value will be set.
        Request:
          $ref: '#/components/schemas/FeesData_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/FeesDataResult'
    FeesDataResult:
      type: object
      properties:
        CitiCode:
          type: string
          description: The FE internal identifier code for the instrument
        Isin:
          type: string
          description: >-
            International Securities Identification Number (ISIN) of the share
            class (e.g. LU0000000000)
        Apir:
          type: string
        OFST451027:
          type: string
          description: >-
            Does the prospectus facilitate a performance fee? If there exists a
            Performance fee, please fill this field with "yes" and provide
            respective data in the field "OFST451028 Performance Fee Applied".
            Otherwise, fill this field with "no" and leave the field "OFST451028
            Performance Fee Applied" empty.
        OFST451028:
          type: string
          description: >-
            Applied performance fee. Usually lower than "OFST451030 Performance
            Fee in Prospectus". The applied performance fee should be taken from
            the fund's financial accounts or from the latest annual report. As
            it is a result of the positive or negative performance of the share
            class, it can be negative, too.
        OFST451029:
          type: string
          description: >-
            Reference date of the performance fee applied. Please update each
            time "OFST451028 Performance Fee Applied" changes.
        OFST451030:
          type: string
          description: >-
            Maximum performance fee as mentioned in the prospectus. Please note
            that this field can also be used for UCITS funds. The performance
            fee maximum is normally indicated within the prospectus.          
        OFST451032:
          type: string
          description: Minimum performance fee as mentioned in the prospectus.
        OFST451035:
          type: string
          description: >-
            Reference date of the performance fee in the prospectus. Please
            update each time "OFST451030 Performance Fee in Prospectus" changes.
        OFST451040:
          type: string
          description: >-
            Actual percentage charged for depositary (custodian) commission. If
            there is no explicit calculation of a custodian fee, e.g. if there
            is only some kind of an all-in, administration or flat fee, which
            the custodian fee is a part of, please leave this field empty.
        OFST451100:
          type: string
          description: >-
            If performance fee applies: what is the hurdle rate that is used for
            the calculation of the performance fee? (e.g. 5%; Benchmark + 3%).
            Please leave this field empty if the share class has no hurdle rate.
        OFST451160:
          type: string
          description: >-
            If performance fee applies: is there a high water mark as basis for
            the calculation of the performance fee? A high-water mark is the
            highest peak in value that an investment fund or account has
            reached. In some cases the high-water mark may be reset so that a
            lower point can be used for the calculation.
        OFST451305:
          type: string
          description: >-
            Applied subscription fee. Usually lower than the subscription fee
            maximum. This field can be used for the data dissemination between
            distributor and sub-distributor. Attention: This fee is only for the
            distribution and independent of the "OFST451336 Applied Subscription
            Fee In Favour Of Fund". In case no subscription fee may be charged
            on the share class, please provide "OFST451319 Has Subscription Fee"
            = "no" and leave this field and "OFST451306 Applied Subscription Fee
            In Favour Of Distributor Reference Date" empty. Otherwise, provide
            the respective value as well as the date in "OFST451306 Applied
            Subscription Fee In Favour Of Distributor Reference Date" and fill
            "OFST451319 Has Subscription Fee" with "yes".    
        OFST451306:
          type: string
          description: >-
            Reference date of applied subscription fee. Please update each time
            "OFST451305 Applied Subscription Fee In Favour Of Distributor"
            changes. Attention: This fee is only for the distribution and
            independent of the "OFST451337 Applied Subscription Fee In Favour Of
            Fund Reference Date".
        OFST451310:
          type: string
          description: >-
            Minimum subscription fee as mentioned in prospectus. Please note,
            this fee is not in favour of the fund, but kept by distributing
            parties.
        OFST451319:
          type: string
          description: >-
            If there exists a subscription fee, please fill this field with
            "yes" and provide respective data in the field "OFST451305 Applied
            Subscription Fee In Favour Of Distributor" and the reference date in
            the field "OFST451306 Applied Subscription Fee In Favour Of
            Distributor Reference Date". Otherwise, fill this field with "no"
            and leave the other mentioned fields empty. Attention: This fee is
            only for the distribution and independent of the "OFST451335 Has
            Applied Subscription Fee In Favour Of Fund".
        OFST451320:
          type: string
          description: >-
            Maximum subscription fee in prospectus. Please note, this fee is not
            in favour of the fund, but kept by distributing parties. For
            subscription fees in favour of fund, please use "OFST451340 Maximum
            Subscription Fee In Favour Of Fund" instead.
        OFST451335:
          type: string
          description: >-
            If there is a subscription fee in favour of the fund mentioned in
            the prospectus, please fill this field with "yes" and provide
            respective data in the field "OFST451336 Applied Subscription Fee In
            Favour Of Fund" and the reference date in the field "OFST451337
            Applied Subscription Fee In Favour Of Fund Reference Date".
            Otherwise, fill this field with "no" and leave the other mentioned
            fields empty. 
             Attention: This fee is only in favour of fund and independent of the "OFST451319 Has Subscription Fee".
        OFST451337:
          type: string
          description: >-
            Reference date of applied subscription fee in favour of fund. Please
            update each time "OFST451336 Applied Subscription Fee In Favour Of
            Fund" changes. Attention: This fee is only in favour of fund and
            independent of the "OFST451306 Applied Subscription Fee In Favour Of
            Distributor Reference Date".
        OFST451339:
          type: string
          description: >-
            Minimum subscription fee in favour of the Fund according to the
            Prospectus in order to compensate existing investors.
        OFST451340:
          type: string
          description: >-
            Maximum subscription fee in favour of the Fund according to the
            Prospectus in order to compensate existing investors. For
            subscription fees in favour of distribution partners please use
            "OFST451320 Subscription Fee Maximum" instead.
        OFST451420:
          type: string
          description: >-
            Maximum redemption fee in prospectus. Please note, this fee is not
            in favour of the fund, but kept by distributing parties. For
            redemption fees in favour of fund, please use "OFST451440 Maximum
            Redemption Fee In Favour Of Fund" instead.
        OFST451435:
          type: string
          description: >-
            If there is a redemption fee in favour of the fund mentioned in the
            prospectus, please fill this field with "yes" and provide respective
            data in the field "OFST451436 Applied Redemption Fee In Favour Of
            Fund" and the reference date in the field "OFST451437 Applied
            Redemption Fee In Favour Of Fund Reference Date". Otherwise, fill
            this field with "no" and leave the other mentioned fields empty.
            Attention: This fee is only in favour of fund and independent of the
            "OFST451419 Has Redemption Fee in Favour of Distributor".
        OFST451436:
          type: string
          description: >-
            Redemption fee in favour of the Fund according to the Prospectus in
            order to compensate existing investors. If "OFST451435 Has Applied
            Redemption Fee In Favour Of Fund" was answered with "yes", please
            mention the actual figure for the redemption fee in favour of the
            fund that is charged to the investors.   For redemption fees in
            favour of distribution partners please use "OFST451405 Applied
            Redemption Fee In Favour Of Distributor" instead.
        OFST451437:
          type: string
          description: >-
            Reference date of applied redemption fee in favour of fund. Please
            update each time "OFST451436 Applied Redemption Fee In Favour Of
            Fund" changes. Attention: This fee is only in favour of fund and
            independent of the "OFST451406 Applied Redemption Fee In Favour Of
            Distributor Reference Date".
        OFST451439:
          type: string
          description: >-
            The minimum redemption fee that is in favour of the fund according
            to the Prospectus to avoid dilution effects within the fund.
        OFST451440:
          type: string
          description: >-
            The maximal redemption fee that is in favour of the fund according
            to the Prospectus to avoid dilution effects within the fund. For
            redemption fees in favour of distribution partners please use
            "OFST451420 Redemption Fee Maximum" instead.
        OFST452000:
          type: string
          description: >-
            Applied management fee of this share class. In case the value of
            "OFST020545 Share Class Lifecycle"  is “projected” or “to be
            launched” please leave this field blank unless you have this
            information.
        OFST452001:
          type: string
          description: >-
            Reference date of applied management fee. Please update each time
            "OFST452000 Management Fee Applied" changes. In case the value of
            "OFST020545 Share Class Lifecycle"  is “projected” or “to be
            launched” please leave this field blank unless you have this
            information.
        OFST452005:
          type: string
          description: Minimum management fee as mentioned in prospectus.
        OFST452010:
          type: string
          description: Maximum management fee as mentioned in prospectus.
        OFST452014:
          type: string
          description: >-
            Please choose "yes", if an All-in fee applies for the share class.
            If this field is populated with "no", please leave the following
            fields empty: OFST452015 All-in Fee Maximum OFST452017 All-in Fee
            Applied OFST452019 All-in Fee Includes Transaction Costs OFST452020
            All-in Fee Date Some fund providers charge an All-in fee, of which
            the fund management fee and other fees are a component that the
            provider may or may not choose to state separately. This All-in fee
            should be indicated in this field. Other terms synonymous with
            All-in fee are e. g. flat fee or management company fee with fixed
            fee.
        OFST452015:
          type: string
          description: >-
            All-in fee as mentioned in the sales prospectus. Usually includes
            fees for portfolio management, sales, administration, custody and
            others. Please refer to "OFST452019 All-in Fee Includes Transaction
            Costs" to choose, whether the all-in fee includes also transaction
            costs within the fund.
        OFST452017:
          type: string
          description: >-
            All-in fee this share class is actually charged with. Has to be
            lower or same as the "OFST452015 All-in Fee Maximum" that is
            mentioned in the sales prospectus. Usually the all-in fee includes
            fees for portfolio management, sales, administration, custody and
            others. Please refer to "OFST452019 All-in Fee Includes Transaction
            Costs" to choose, whether the all-in fee includes also transaction
            costs within the fund.
        OFST452019:
          type: string
          description: >-
            Please choose "yes", if "OFST452015 All-in Fee Maximum" and
            "OFST452017 All-in Fee Applied" include transaction costs. If not,
            please choose "no".
        OFST452020:
          type: string
          description: >-
            Effective date for all openfunds fields referring to All-in Fee,
            e.g. "OFST452015 All-in Fee Maximum", "OFST452017 All-in Fee
            Applied".
        OFST452100:
          type: string
          description: >-
            Latest available Total Expense Ratio (TER) that is calculated
            without accounting for a possible performance fee. In some countries
            the TER has to be published in the annual report and in the
            semi-annual report. If the fund invests into other funds, the target
            fund's TER should be included into the calculation of the fund's
            TER.
        OFST452110:
          type: string
          description: >-
            Date of latest available Total Expense Ratio (TER) that is
            calculated without accounting for a possible performance fee. In
            some countries the TER has to be published in the annual report and
            in the semi-annual report.
        OFST452120:
          type: string
          description: >-
            Latest available Total Expense Ratio (TER) that is calculated
            including a charged performance fee. In some countries the TER has
            to be published in the annual report and in the semi-annual report.
            If the fund invests into other funds, the target fund's TER should
            be included into the calculation of the fund's TER.
        OFST452130:
          type: string
          description: >-
            Date of latest available Total Expense Ratio (TER) that is
            calculated including a possible performance fee. In some countries
            the TER has to be published in the annual report and in the
            semi-annual report.
        OFST452190:
          type: string
          description: >-
            If there exist ongoing charges, please fill this field with "yes"
            and provide respective data in the field "OFST452200 Ongoing
            Charges" and "OFST452220 Ongoing Charges Date". Otherwise, fill this
            field with "no" and leave the field "OFST452200 Ongoing Charges" and
            "OFST452220 Ongoing Charges Date" empty.
        OFST452200:
          type: string
          description: >-
            Ongoing charges as described in the esma guidelines - "Methodology
            for calculation of the Ongoing Charges figure in the Key Investor
            Information Document"
            (https://www.esma.europa.eu/document/guidelines-methodology-calculation-ongoing-charges-figure-in-key-investor-information).
            This value is supposed to be listed on the UCITS KIIDs.
              In most cases this figure equals "OFST452202 PRIIPS Other Ongoing Costs". However, the PRIIP's KID composition of costs should be consistent with the KID's reduction in yield calculation (OFST460198 RHP RIY), which may require an adjustment to reflect the entry costs (OSFT451300 PRIIPS Subscription Fee In Favour Of Fund) in the RIY calculation.
              In case there are no ongoing charges provided, please insert "OFST452190 Has Ongoing Charges" = "no" and leave this field and "OFST452220 Ongoing Charges Date" empty. Otherwise, provide the respective value as well as the ongoing charges date in "OFST452220 Ongoing Charges Date" and fill "OFST452190 Has Ongoing Charges" with "yes".
        OFST452220:
          type: string
          description: Date of latest ongoing charges calculation for UCITS.
        OFST453151:
          type: string
          description: >-
            Answer «yes» only, if the fund or ManCo are not paying trailer fees
            for this specific share class.
        OFST453155:
          type: string
          description: >-
            If this is not a trailer fee clean share class, i.e. "OFST453151 Is
            Trailer Fee Clean" = "no", then "Equivalent Trailer Fee Clean ISIN"
            reflects the existence of an equivalent trailer fee clean share
            class by naming its ISIN. Equivalence in this context means the same
            subfund, i.e. same "OFST020080 Share Class Consolidation Key", same
            "OFST020400 Share Class Distribution Policy", same "OFST020540 Share
            Class Currency", same "OFST020261 Currency Hedge Share Class", same
            value for "OFST802500 Has Reduced Luxembourg Taxe d'Abonnement" and
            optional same "OFST6030XX Country Legal Registration" as well as
            same "OFST6031XX Country Marketing Distribution". Other fields like
            "OFST020620 Is Restricted To Separate Fee Arrangements" may be
            different.
        OFST454160:
          type: string
          description: >-
            Separate distribution fee. While a trailer fee is a component of
            annual management fee it is commonly understood within the industry,
            that the distribution fee belongs as a whole or to an important
            extend to the distributor. //This field was declared "no longer
            supported" in version 1.26, but has been returned to active status
            as of v1.27 of openfunds, for non-EMT usage. For EMT please use the
            regulatory-specific "OFEM071200 EMT Distribution Fee".//
        OFST451045:
          type: string
          description: >-
            Reference date of applied custodian fee. Please update each time
            "OFST451040 Custodian Fee Applied" changes.
        OFST451390:
          type: string
          description: >-
            Contingent deferred sales charge fee (CDSC Fee). A CDSC Fee is a fee
            that is charged to investors for early redemptions. This fee is also
            known as sales charge or back-end load. CDSC Fees are a percentage
            of the value of the sold fund. It is the highest in the first year
            and decreases annually. After the specified period the fee amounts
            zero. The mechanism might differ, but quite often it is a
            combination of an upfront fee paid by the fund to the investment
            manager or distribution partner. At the end of the required period,
            the investment manager or distribution partner will reimburse the
            whole fee back to the fund. If some of the investors had redeemed
            early they have to pay a portion of that fee which related to their
            investment duration.
        OFST451391:
          type: string
          description: >-
            In this field the Contingent Deferred Sales Charge Exit Fee (CDSC
            Exit Fee) can be filled in as a free format text. A CDSC Exit Fee is
            a fee that is charged to investors for early redemptions. This fee
            is also known as sales charge or back-end load. CDSC Fees are a
            percentage of the value of the sold fund. It is the highest in the
            first year and decreases annually. After the specified period the
            fee amounts zero. The mechanism might differ, but quite often it is
            a combination of an upfront fee paid by the fund to the investment
            manager or distribution partner. At the end of the required period,
            the investment manager or distribution partner will reimburse the
            whole fee back to the fund. If some of the investors had redeemed
            early they have to pay a portion of that fee which related to their
            investment duration. The amount for the first year might equal the
            "OFST451392 Contingent Deferred Sales Charge Upfront Fee".
        OFST451392:
          type: string
          description: >-
            In this field the Contingent deferred sales charge upfront fee (CDSC
            Upfront Fee) can be mentioned as a number. The CDSC Upfront Fee is a
            percentage of the value of the sold fund. The mechanism might
            differ, but quite often it is a combination of this fee paid by the
            fund to the investment manager or distribution partner and an exit
            fee. At the end of the required period, the investment manager or
            distribution partner will reimburse the whole fee back to the fund.
            If some of the investors had redeemed early they have to pay a part
            of this reimbursement, which is called the "OFST451391 Contingent
            Deferred Sales Charge Exit Fee". The amount of this fee is related
            to the investment duration.
        OFST451405:
          type: string
          description: >-
            Applied redemption fee. Usually lower than the redemption fee
            maximum. This field can be used for the data dissemination between
            distributor and sub-distributor. Attention: This fee is only for the
            distribution and independent of the "OFST451436 Applied Redemption
            Fee In Favour Of Fund". In case there is no redemption fee currently
            charged, please provide "OFST451419 Has Redemption Fee in Favour of
            Distributor" = "no" and leave this field and "OFST451406 Applied
            Redemption Fee In Favour Of Distributor Reference Date" empty.
            Otherwise, provide the respective value as well as the date in
            "OFST451406 Applied Redemption Fee In Favour Of Distributor
            Reference Date" and fill "OFST451419 Has Redemption Fee in Favour of
            Distributor" with "Yes".
        OFST451406:
          type: string
          description: >-
            Reference date of applied redemption fee. Please update each time
            "OFST451405 Applied Redemption Fee In Favour Of Distributor"
            changes. Attention: This fee is only for the distribution and
            independent of the "OFST451437 Applied Redemption Fee In Favour Of
            Fund Reference Date".
        OFST451410:
          type: string
          description: >-
            Minimum redemption fee in prospectus. Please note, this fee is not
            in favour of the fund, but kept by distributing parties.
        OFST451419:
          type: string
          description: >-
            If there exists a redemption fee, please fill this field with "yes"
            and provide respective data in the field "OFST451405 Applied
            Redemption Fee In Favour Of Distributor" and the reference date in
            the field "OFST451406 Applied Redemption Fee In Favour Of
            Distributor Reference Date". Otherwise, fill this field with "no"
            and leave the other mentioned fields empty. Attention: This fee is
            only for the distribution and independent of the "OFST451435 Has
            Applied Redemption Fee In Favour Of Fund".
        OFST454150:
          type: string
          description: >-
            Is there a separate distribution fee according to the Prospectus?
            Warning: This field is about a separate distribution fee, which is
            not included in the annual management fee.
        OFST454161:
          type: string
          description: >-
            Reference date of distribution fee. Please update each time
            "OFST454160 Distribution Fee" changes.
        OFST454300:
          type: string
          description: >-
            Is there a possible dilution levy in favour of the fund that can be
            charged at the discretion of the fund manager to compensate for
            market transaction costs within the fund? Usually a dilution levy is
            charged only for bigger single in- or outflows, whereas a
            "OFST451440 Maximum Redemption Fee In Favour Of Fund" is charged on
            all fund subscriptions or redemptions.
        OFST451042:
          type: string
          description: >-
            Maximum percentage charged for depositary (custodian) commission, as
            per prospectus. If there is no explicit reference to a custodian
            fee, e.g. if there is only some kind of an all-in, administration or
            flat fee, which the custodian fee is a part of, please leave this
            field empty.
        OFST451065:
          type: string
          description: >-
            Maximum value charged for miscelaneous administrative work, such as
            opening an account, preparing or printing contracts, etc. if
            disclosed in prospectus as a separate value from the costs included
            into other charges. If not explicitly mentioned in prospectus,
            please leave this field blank.
        OFST454165:
          type: string
          description: >-
            Maximum fee charged to shareholders exclusively by the distributor,
            as per prospectus.
    CountrySpecificFieldsData:
      type: object
      properties:
        Message:
          type: string
          description: response message
        IsSuccess:
          type: boolean
          description: based on the response value will be set.
        Request:
          $ref: '#/components/schemas/FeesData_Request'
        Result:
          type: array
          description: response result will be assign to result.
          items:
            $ref: '#/components/schemas/CountrySpecificFieldsDataItem'
    CountrySpecificFieldsDataItem:
      type: object
      properties:
        CitiCode:
          type: string
          description: >-
            FE fundinfo unit identifier, called Citi Code. The field is allowed
            to be up to 15 characters in length, but all current codes used are
            4-5 characters long.
        Isin:
          type: string
          description: >-
            International Securities Identification Number (ISIN) of the share
            class (e.g. LU0000000000). Please take good care, that an ISIN may
            include only upper case letters.
        Apir:
          type: string
        OFST700601:
          type: string
          description: >-
            Classification of investment products under MAS scheme, which
            determines whether a wider range of investment funds including ETFs
            can be easier accessed by retail investors
            ("https://www.mas.gov.sg/news/media-releases/2015/easier-access-to-simpler-funds-for-retail-investors"
            AND "https://www.mas.gov.sg/regulation/notices/notice-sfa-04-n12")
        OFST700605:
          type: string
          description: >-
            GST (Goods and Services Tax) treatment of services provided or
            received by fund managers in Singapore ("
            https://www.iras.gov.sg/irashome/uploadedFiles/IRASHome/e-Tax_Guides/etaxguide_GST_Guide%20for%20the%20Fund%20Management%20Industry_2015-03-18.pdf
            " AND "
            https://www.iras.gov.sg/irashome/GST/GST-registered-businesses/Learning-the-basics/Goods-and-Services-Tax--GST---What-It-Is-and-How-It-Works/
            ")
        OFST700610:
          type: string
          description: >-
            Please indicate in this field whether the share class is a Central
            Provident Fund Investment Scheme (CPFIS) where investors invest
            their Ordinary Account (OA) savings in a wider range of investments
            (= "yes") or not (= "no"). For further information about CPFIS-OA
            please visit the following website:
            https://www.cpf.gov.sg/members/schemes/schemes/optimising-my-cpf/cpf-investment-schemes
            For further information about CPF please visit:
            https://www.cpf.gov.sg/Members/AboutUs/about-us-info/cpf-overview
        OFST700615:
          type: string
          description: >-
            Please indicate in this field whether the share class is a Central
            Provident Fund Investment Scheme (CPFIS) where investors invest
            their Special Account (SA) savings in a wider range of investments
            (= "yes") or not (= "no"). For further information about CPFIS-SA
            please visit the following website:
            https://www.cpf.gov.sg/members/schemes/schemes/optimising-my-cpf/cpf-investment-schemes
            For further information about CPF please visit:
            https://www.cpf.gov.sg/Members/AboutUs/about-us-info/cpf-overview
        OFST700620:
          type: string
          description: >-
            Please indicate in this field whether the share class is a
            Supplementary Retirement Scheme (SRS) (= "yes") or not (= "no"). For
            further information about a SRS please visit the following website:
            https://www.cpf.gov.sg/Members/faq/schemes/Other-Matters/Others?ajsrc=FS&#faq2192593
        OFST700630:
          type: string
          description: >-
            Are the funds' investments in conformance with the Ordinance of the
            Swiss Pension's Act (Verordnung über die berufliche Alters-,
            Hinterlassenen- und Invalidenvorsorge (BVV 2)) Art. 53 and Art. 55?
            Please be aware that this ordinance has been tightened on January
            1st, 2015. Typically, these funds are set up and distributed only to
            pension funds.
        OFST700640:
          type: string
          description: >-
            Is the fund a Swiss investment foundation (German: Anlagestiftung)?
            This field only applies for funds domiciled in Switzerland. Swiss
            investment foundations are foundations that are used for
            occupational benefits. They are subject to Swiss law and are
            supervised by the Occupational Benefits Supervision Commission (OAK
            BV). Investment foundations form a special category of investment
            funds that are exclusively intended for pension funds. The purpose
            of an investment foundation is to manage the assets of several
            pension funds. According to the legal definition of the permitted
            group of investors, neither natural nor legal persons resident or
            domiciled outside of Switzerland may participate in Swiss investment
            foundations.
        OFST700650:
          type: string
          description: >-
            From a fund houses perspective: May this share class be distributed
            to Swiss retail clients? Retail Clients are according to article 4
            paragraph 2 of the Financial Services Act (FinSA), in German
            "Finanzdienstleistungsgesetz" (FIDLEG), clients which are not
            professional clients. According to article 4 paragraph 3
            professional clients are considered to be: a. financial
            intermediaries under the Banking Act of 8 November 1934, the
            Financial Institutions Act of...6 and the Collective Investment
            Schemes Act of 23 June 2006 b. insurance companies in accordance
            with the Insurance Supervision Act of 17 December 2004; c. foreign
            customers, who have an equivalent prudential supervision as the
            persons of letter a and b; d. central banks; e. public-law
            corporations with professional vaults; f. pension schemes and
            institutions whose purpose is to provide occupational pension with
            professional vaulting; g. Company with professional vaults. For more
            information please consider the following links:
            https://www.newsd.admin.ch/newsd/message/attachments/41567.pdf (only
            in German available)
            https://www.efd.admin.ch/efd/en/home/themen/wirtschaft--waehrung--finanzplatz/finanzmarktpolitik/fidleg-finig/fb-fidleg-finig.html
            (available in English, French, German and Italian)
        OFST700660:
          type: string
          description: >-
            Is the fund compliant with the guidelines of the Swiss Bankers
            Association (SBA)? The guidelines of the SBA can be found at
            https://www.swissbanking.org/library/richtlinien/richtlinien-fur-vermogensverwaltungsauftrage/20170301-3200-all-rl_mini_revision_portfolio-management-guidelines_e-cla.pdf/@@download/file/20170301-3200-ALL-RL_Mini_Revision_Portfolio%20Management%20Guidelines_E_final-CLA.pdf
        OFST700670:
          type: string
          description: >-
            Is the share class Swiss affidavit eligible or is it intended to be
            on the upcoming distributions. In order to reclaim withholding tax
            on income payments in Switzerland, a Bank Declaration (Affidavit) is
            required for each income payment for each investment fund. If the
            informed share class distributes income subject to Affidavit
            eligibility, the field's value should be "yes"
        OFST701030:
          type: string
          description: >-
            There are over 35 IA (The Investment Association) sectors. These are
            there to help anyone navigate around the large universe of funds
            solds in the UK and include some offshore (EU) funds.
        OFST701040:
          type: string
          description: Is the share class ISA (Individual Savings Account) compliant?
        OFST701041:
          type: string
          description: >-
            Is the share class SIPP (Self Invested Personal Pension) compliant?
            A SIPP is a tax-efficient retirement savings account. It allows
            individuals to make their investment decisions from a wide range of
            investments, which are approved by the country's HMRC (Her Majesty's
            Revenue and Customs).
        OFST701042:
          type: string
          description: >-
            This field is only relevant for UK based funds. If this is not the
            case, please leave the field blank. Is the fund a Non-UCITS Retails
            Scheme (NURS)? A NURS is a fund, which is neither a UCITS scheme nor
            a qualified investor scheme according to the UK Financial Conduct
            Authority.
        OFST701043:
          type: string
          description: >-
            Individual Savings Account (ISA) is a form of investment that is
            exempt from tax on returns. There are two types of ISA: - stocks and
            shares - cash
        OFST701044:
          type: string
          description: >-
            Is the fund registered for the FCA's TMPR (Temporary Marketing
            Permissions Regime). UCITS compliant funds currently registered in a
            European Economic Area (EEA) state will cease to qualify for ISA/CTF
            inclusion unless they have entered the Financial Conduct Authority’s
            (FCA’s) new Temporary Marketing Permissions Regime (TMPR) prior to
            the Implementation Period Completion Day (IPCD) of the withdrawal of
            the United Kingdom (UK) from the European Union (EU). Funds that do
            not enter the TMPR will be de-recognised by the FCA, cease to be ISA
            qualifying and should not be purchased by managers/providers to hold
            in ISAs/CTFs. More information can be found at
            https://www.fca.org.uk/brexit/temporary-permissions-regime.
        OFST701045:
          type: string
          description: >-
            Is the fund a UK-authorised UCITS? Such funds are UK-domiciled funds
            that would have had the value "UCITS" in field OFST160040 Type of EU
            Directive prior to the Implementation Period Completion Day (IPCD)
            of the withdrawal of the United Kingdom (UK) from the European Union
            (EU), and should have the value "AIF" in that field post-IPCD. The
            IPCD is defined in the EU (Withdrawal Agreement) Act 2020 as 31
            December 2020 at 11pm
            (https://www.legislation.gov.uk/ukpga/2020/1/contents/enacted).
        OFST701050:
          type: string
          description: >-
            This field is only relevant for UK based funds. If this is not the
            case, please leave the field empty. Is the fund a Property
            Authorised Investment Fund (PAIF)? A PAIF is an authorised
            investment fund primarily invested in property and is a UK regulated
            fund vehicle. There is no taxation of property profits at fund
            level. Only eligible investors (e.g. Individual Savings Account,
            Self Invested Personal Pension) are allowed to invest in PAIF.
        OFST701055:
          type: string
          description: >-
            This field is only funds based or distributed in the UK. If this is
            not the case, please leave the field empty. Is the share class an UK
            approved investment trust? Please refer to
            https://www.gov.uk/hmrc-internal-manuals/investment-funds/ifm14120
            for more information.
        OFST701065:
          type: string
          description: >-
            Is the fund an FIIA (Fund Invested in Inherently Illiquid Assets)
            according to the definition in FCA Policy Statement PS19/24. Funds
            investing in inherently illiquid assets are those that have invested
            (or intend to invest) at least 50% in illiquid assets for at least 3
            continuous months in the last 12 and that have not aligned the
            dealing frequency with the expected time to liquidate assets. Funds
            with limited redemption frequency do not have to be classified as
            FIIAs. Full details can be found in the Policy Statement at
            https://www.fca.org.uk/publication/policy/ps19-24.pdf. The changes
            will apply from 30 September 2020, but groups can apply them earlier
            if they are concerned about customer detriment.
        OFST701075:
          type: string
          description: >-
            This field is only relevant for UK based funds. If this is not the
            case, please leave the field empty. The TEF is a tax regime that
            applies to an authorised investment fund. It is likely to be
            beneficial to those funds that invest in a mixed portfolio of assets
            but do not receive any income directly from a UK or overseas
            property business.
        OFST701085:
          type: string
          description: >-
            Is the fund authorised by the FCA (Financial Conduct Authority, a UK
            financial regulatory body responsible for regulation of conduct by
            both retail and wholesale financial services firms)? An authorised
            fund, which may also be called an "authorised CIS", must be
            established in the UK and take one of the following legal forms: -
            authorised contractual scheme (ACS) - authorised unit trust (AUT) -
            investment company with variable capital (ICVC) It must also be
            classified, based on a marketing strategy, as one of the following:
            - undertaking for collective investment in transferable securities
            scheme (UCITS) - non-UCITS retail scheme (NURS) - qualified investor
            scheme (QIS)
        OFST701086:
          type: string
          description: >-
            Is the fund recognised by the FCA (Financial Conduct Authority, a UK
            financial regulatory body responsible for regulation of conduct by
            both retail and wholesale financial services firms)? A fund that is
            established outside the UK must be recognised to be promoted to
            retail investors in the UK. A recognised fund may also be called a
            ‘recognised CIS’ or ‘overseas scheme’. A UCITS established in
            another EEA country must be recognised, under section 264 of the
            Financial Services Markets Act 2000 (FSMA). Other funds established
            in another EEA country, including an alternative investment fund
            (AIF) authorised in another EEA country, must be recognised under
            section 272 of FSMA. For more information please consider:
            http://www.legislation.gov.uk/ukpga/2000/8/pdfs/ukpga_20000008_en.pdf
        OFST701090:
          type: string
          description: >-
            Depending on the underlying investments, income arising may be a
            dividend distribution or an interest distribution. It is mandatory
            for Management Companies to inform the type of distribution.
            Dividend distributions from UK domiciled funds that fall within the
            dividend allowance are not subject to the tax. However, a tax
            liability may arise on the excess depending on the shareholder
            personal circumstances. Interest distributions from UK domiciled
            funds are taxed as savings income and may be eligible for the
            Personal Savings Allowance or the 0% starting rate tax band for
            savings.
        OFST710095:
          type: string
          description: >-
            Please state the category of the fund as described in CNMV A01
            Model: page 6
            https://www.cnmv.es/DocPortal/legislacion/ModelosNormalizados/IIC/ManualCumpA01-C_2_2017.pdf
            Vocación (8): política de inversión. Las políticas de inversión son
            las siguientes: - MF: MMF Funds - FF: Fixed Income Funds - EQ:
            Equities Funds - HG: Hedge Funds - MX: Mixed Funds - RE: Real estate
            Funds - OT: Other Funds
        OFST710100:
          type: string
          description: >-
            Register number in Comisión Nacional del Mercado de Valores (CNMV):
            numeric code assigned by CNMV to 'foreign funds' when legally
            registered in CNMV for their distribution in Spain and for funds
            domiciled in Spain. For more information please refer to
            https://www.cnmv.es/portal/home.aspx Please be aware that the CNMV
            can be on umbrella or fund level or a mixture of both levels. For
            this reason, openfunds sets this field on fund level so that it can
            be used for umbrella level as well. Kindly be informed that this
            could lead to validation difficulties, but it is a necessary
            trade-off to be taken.
        OFST710101:
          type: string
          description: >-
            Does the fund follow a master-feeder structure? If yes, please
            indicate one representative ISIN code of the master fund in field
            "OFST710102 Representative ISIN Code Of Master Fund".
        OFST710102:
          type: string
          description: >-
            If the fund follows a master-feeder structure (= the value of
            "OFST710101 Is Feeder Fund" is "yes"), what is one representative
            ISIN code of the master fund?
        OFST710110:
          type: string
          description: >-
            As set out in paragraph 6.2 of the Guidelines on Online Distribution
            and Advisory Platforms (Guidelines), a Platform Operator should
            determine whether a product may be treated as non-complex or complex
            with regard to the factors set out in paragraph 6.1 of the
            Guidelines and the non-exhaustive list of examples of non-complex
            and complex products set out on the SFC’s website:
            https://www.sfc.hk/en/Rules-and-standards/Suitability-requirement/Non-complex-and-complex-products/
            A non-exhaustive list of examples of investment products that are
            considered to be "non-complex" are available under the following
            link:
            https://www.sfc.hk/web/EN/rules-and-standards/suitability-requirement/non-complex-and-complex-products/
            Under the same link a non-exhaustive list of examples of investment
            products that are considered to be complex products is available.
            The SFC may revise the list of non-complex products from time to
            time where appropriate.
        OFST710113:
          type: string
          description: >-
            //No longer supported.// The maximal allowable percentage of NAV
            investing in Complex Bonds as stated in the prospectus. Please note
            that this field is an Asia specific requirement. According to the HK
            SFC complex bonds refers to bonds with special features, including:
            - That are perpetual in nature and interest pay-out depends on the
            viability of the issuer in the very long term; - That have
            subordinated ranking and in case of liquidation of the issuer,
            investors can only get back the principal after other senior
            creditors are paid; - That have variable and/or deferral of interest
            payment terms and investors would face uncertainty over the amount
            and time of the interest payments to be received; - That have
            extendable maturity dates and investors would not have a definite
            schedule of principal repayment; - That are convertible or
            exchangeable in nature and investors are subject to both equity and
            bond investment risk; and/or - That have contingent write down or
            loss absorption feature and the bond may be written-off fully or
            partially or converted to common stock on the occurrence of a
            trigger event. - Those with multiple credit support providers and
            structures - Bonds comprising one or more special features For more
            information please also consider the following links:
            http://www.sfc.hk/edistributionWeb/gateway/EN/circular/doc?refNo=12EC12
            http://www.sfc.hk/edistributionWeb/gateway/EN/circular/doc?refNo=14EC18
            https://www.sfc.hk/web/EN/rules-and-standards/suitability-requirement/non-complex-and-complex-products/
            https://www.hkma.gov.hk/media/eng/doc/key-information/guidelines-and-circular/2018/20181030e2.pdf
            https://www.sfc.hk/edistributionWeb/gateway/EN/circular/intermediaries/supervision/doc?refNo=18EC89
        OFST710114:
          type: string
          description: >-
            //No longer supported.// The maximal allowable percentage of NAV
            investing in Derivatives as stated in the prospectus. Please note
            that this field is an Asia specific requirement. HK SFC defines
            derivative funds as complex if the fund invests more than 50% of NAV
            in derivative investments. However, under the following
            circumstances the use of derivatives should not be included in the
            calculation of the 50% limit: - netting, hedging and risk mitigation
            - cash flow management - market access or exposure replication
            (without incremental leverage at the fund portfolio level) -
            investment in conventional convertible bonds For more information
            please consider
            https://www.sfc.hk/edistributionWeb/gateway/EN/consultation/conclusion?refNo=17CP8
        OFST710115:
          type: string
          description: >-
[...]
